[2017-07-21 18:04] justinhessdev opened #1 "cannot abort speech recogntion"
If I wrap SpeechRecognitionContainer in a top level component the app is always listening even when I don't want it to -- if I talk the transcript prop gets updated to what I am saying. I want it to start recognizing speech when I click the recording button, not all the time. (The red recording icon always shows in the tab bar. I only want it to show whenI click the recording button).

I tried usi

[2017-07-22 22:25] JamesBrill commented on #1
I've made some changes in #2 that should alleviate these issues. Of most relevance to you will be the new `startListening` and `abortListening` callbacks. The Web Speech API wrapper should be more resilient against re-renders now too.

Let me know if that improves things for you!

[2017-07-24 14:34] justinhessdev commented on #1
@JamesBrill

So far this is working beautifully. Thanks so much for taking the time to improve the package. I will let you know if I notice any other issues.

[2017-07-24 14:34] #1 closed

[2017-07-24 20:36] JamesBrill commented on #1
1. Ah, I was hoping it wouldn't get a chance to record anything in that short space of time. My reason for having it on by default was because I figured most people would want a "plug and play" component that didn't require any initialisation. However, I see the need for your use case to be supported. I'm going to look into making the default state configurable.

2. This shouldn't be hard to fix -

[2017-07-24 20:55] justinhessdev commented on #1
1. Thanks so much. Making default state configurable is really helpful. I owe you one.

2. Thanks again

Looking forward to the next release

[2017-07-25 20:57] JamesBrill commented on #1
1. See #3 for how to set the API to off by default in 1.0.4.

2. _Should_ also be resolved by those changes.

[2017-07-25 22:04] justinhessdev commented on #1
THANKS!

Working great

[2017-12-01 13:42] kejtizuki opened #4 "Error when using startListening"
Hi,
I've added this in my code:
[code]

I want to create the button which will enable speech recognition on click. I tried using the 'startListening' function but it's not working for me. I'm getting the error cannot read property 'setState' of undefined at startListening. Could you help me with that? I'm new to react so maybe it's just my mistake...

[2017-12-01 17:57] JamesBrill commented on #4
I'd be happy to help. Can you share the code where you are using `startListening`?

[2017-12-04 11:34] kejtizuki commented on #4
Ok great thank you :)
I tried doing something like this:
`render (){
    const { transcript, resetTranscript, startListening, browserSupportsSpeechRecognition } = this.props;
    if (!browserSupportsSpeechRecognition) {
      return (<p>Your browser doesn't allow speech recognition</p>)
    }
    return(
      <div className="container">
        <button className="btnStart" onClick={startListening

[2017-12-04 11:34] kejtizuki commented on #4
[code]

I tried doing something like this

[2017-12-04 20:24] JamesBrill commented on #4
I have made a component that renders virtually the same as yours, but was unable to reproduce this error. A few more questions to help me determine the issue:
- What is your code for using the `SpeechRecognition` component itself? In other words, how are you using it to wrap your own component?
- What is the code in your `handleChange` method? Are you using `setState` in there?
- When does the err

[2018-01-08 13:54] JamesBrill commented on #4
Were you able to resolve this, @kejtizuki?

[2018-01-08 16:46] kejtizuki commented on #4
Yeah actually if I use it without defining options it work, but if I want to use it with options:

const options = {
  lang : 'en-US',
  autoStart: false
}

export default SpeechRecognition(options)(Dictaphone)

Than it gives me this error. Sorry for late response but I just wasn't working on this earlier..

[2018-01-08 16:52] kejtizuki commented on #4
And to answer your questions. Yes, I'm using setState in handleChange method.
The error occurs when I click on button that should activate startListening method.
Exact error looks like this:

bundle.js:61568 Uncaught TypeError: Cannot read property 'setState' of undefined
    at startListening (bundle.js:61568)
    at bundle.js:8912
    at HTMLUnknownElement.boundFunc (bundle.js:16228)
    at Obje

[2018-01-08 22:23] JamesBrill commented on #4
I haven't been able to reproduce this so far. It's especially baffling that the error only occurs when passing in options. On that note, I can point out one thing you can fix. The only option that does anything is `autoStart`. If you want to change the `lang`, you can do this by taking the injected `recognition` object and setting the `lang` on it like so:

`recognition.lang = 'en-US'`

The error

[2018-01-10 16:20] kejtizuki commented on #4
Sorry I think I confused it a bit. I also get this error when I use the code that you put above, however (using the code from above from your comment) I don't get the error when I click on start but now I get it in stopListening.

Uncaught TypeError: Cannot read property 'setState' of undefined
    at stopListening (SpeechRecognition.js?fb07:188)
    at makeAssimilatePrototype.js?c7d8:15
    at HT

[2018-01-13 17:28] JamesBrill commented on #4
I'm still unable to reproduce this. I can see that there's a context binding problem within the `SpeechRecognition` component, but can't fathom what's causing it.

Are you able to share the list of `devDependencies` in your `package.json` file? This will help me reproduce your build setup.

Don't worry, I'm not going to give up just yet! :)

[2018-01-15 09:45] crocsy94 commented on #4
Hi,
I'm working on this project with @kejtizuki , I also looked into the error, it was quite mysterious. I spent some time with debugging with no success, then I created a new project with one component only. Same code in our part, same import from your npm package and there was no error. Then I started looking at version differences between my two projects and your package, just checked the main

[2018-01-15 09:50] crocsy94 commented on #4
Hi again,
Just after I send the previous comment I remembered something... I checked my last theory, created a very similar project to ours, same boilerplate and after importing your package and using it in a simple component the error appeared again. I think it is connected to webpack dev server. Below I included the boilerplate we started with, I used this and a simple google speech component in

[2018-01-15 11:08] JamesBrill commented on #4
Thank you for providing this information and being so patient!

The reason I asked for your `devDependencies` is because of a bug between the `autobind` decorator I use from `core-decorators` and `react-hot-loader` - issues similar to the ones you experienced occur when old versions of `react-hot-loader` are used. The issue is discussed [here](https://github.com/jayphelps/core-decorators/issues/48

[2018-01-15 12:14] crocsy94 commented on #4
Thank you. I updated react-hot-loader and there is no error anymore 🙂

[2018-01-15 12:58] #4 closed

[2018-04-12 15:34] samankhademi opened #5 "ReferenceError: window is not defined"
I think that is because there is no "window" in server side rendering
i use react Starter Kit
  - SpeechRecognition.js:60 SpeechRecognitionInner
    [adviser-web]/[react-speech-recognition]/lib/SpeechRecognition.js:60:36

  - SpeechRecognition.js:213 SpeechRecognition
    [adviser-web]/[react-speech-recognition]/lib/SpeechRecognition.js:213:12

  - ChatMessageList.js:616 Object../src/components/Ch

[2018-04-16 14:01] JamesBrill commented on #5
This should now be fixed by #6 (version 1.0.6). On the server, it will fail gracefully; on the client, it should use the browser's `SpeechRecognition` object if it's available.

[2018-05-10 11:17] #5 closed

[2018-08-04 17:47] Mykasoda opened #7 "Offline use"
Hi,
I don't see any mention of this requiring a network connection, however when I attempt to use it offline it does not respond. (No error thrown, it just never updates the Transcript).

Is it possible to use it offline?

Any help would be very much appreciated as I'm somewhere I cannot access the internet but still would like to use the app I'm making.

[2018-08-05 11:05] JamesBrill commented on #7
According to the [Web Speech API docs](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API/Using_the_Web_Speech_API): `On Chrome, using Speech Recognition on a web page involves a server-based recognition engine. Your audio is sent to a web service for recognition processing, so it won't work offline.`

So unfortunately, speech recognition will not function in Chrome when offline - it'

[2018-08-06 09:25] Mykasoda commented on #7
Oh, thank you for the response and the great module!

Sad I can't make it work offline, but it will be my goto when I get back to stable internet.

[2018-08-06 09:27] #7 closed

[2018-09-11 09:15] aizuddineismail opened #8 "How to change language using recognition.lang?"
Hello !
I am a newbie programmer and I don't understand how to change the recognition.lang as stated in the documentation. Can you please clarify even more? Thank you

[2018-09-12 14:59] aizuddineismail commented on #8
This is really helpful! I completely understood now. Thanks you very much! You've done such an amazing work!

[2018-09-12 15:02] JamesBrill commented on #8
Thank you. 👍

[2018-09-12 15:02] #8 closed

[2018-12-01 01:53] QishengLi opened #9 "'abortListening' or 'stopListening' not working"
Hi I am new to React and trying to use react-speech-recognition. I am trying to start & stop listening to the microphone by click buttons. However, it seems that it's still listening after I click 'stop' button and the transcription is still updating.

Attaching the code here. Any advice will be helpful!

[code]

(Sorry for the bad formatting!)

[2018-12-04 06:08] QishengLi commented on #9
Thank you a lot, James! I figured it out that the reason was `Dictaphone`being rendered multiple times.

[2018-12-04 06:08] #9 closed

[2019-03-01 09:13] AndreasTaime opened #11 "How to implement all properties and events of the Web Speech API"
Hey James, hey guys,
I'm currently working on my bachelor thesis developing an e-Learning App which should enable users to simulate oral exams. As a part of it I'd like to make use of some properties like the SpeechGrammar, SpeechRecognitionAlternative etc..
Is there a way to address the complete Web Speech API in React or is it just a limited component / framework you did build?

I hope this is w

[2019-03-01 19:57] JamesBrill commented on #11
Hi Andreas,

I'm not familiar with the rest of the Web Speech API, though I'd like to keep the scope of this particular module limited to the `SpeechRecognition` interface to avoid it becoming too complex.

That said, it might not be too hard for you to combine this component with the other Web Speech interfaces. This React component injects the speech recognition object into your component as a p

[2019-03-01 19:57] #11 closed

[2019-03-04 10:13] AndreasTaime commented on #11
Thanks for the quick answer!
Your example is kind of what I was hoping for. Unfortunately I encounter the same problem I did when trying beforehand.
Trying to setup a constructor with the new-property throws following TypeError.
I'm clearly missing something but am not able to initialize it correctly. Also tried to set it up in the constructor function - same error.
Any idea? Thanks again,
Andreas

[2019-03-07 19:41] JamesBrill commented on #11
@AndreasTaime Each browser has its own implementation of Web Speech APIs. Chrome, for example, calls its implementation of Speech Grammar List `webkitSpeechGrammarList`. Usually, this implementation is accessible on the browser's `window` object.

To give you an idea of how to write something that'll work on _most_ browsers, I had to do this to ensure that this module got a Speech Recognition obje

[2019-03-15 06:17] hvardhan617 opened #12 "CallBacks for event and functions for startListening,stopListening,abort etc..?"
Will we get any callbacks while invoking async functions such as startListening,stopListening,abortListening ?
If so, how can we handle the callbacks?

[2019-03-17 09:20] JamesBrill commented on #12
There are two ways you can do this:

- Use the [built-in event handlers](https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition/onend) in the Speech Recognition object, which is given to you as a property called `recognition`. You can set these to your callback function when constructing or mounting your component:
[code]
- Detect changes to the `listening` property, which is another p

[2019-03-25 14:13] #12 closed

[2019-03-28 21:42] Mykasoda opened #13 "Recognition has stopped working"
Hi, I've been using this for about 8 months now and it's worked great, but all of a sudden it won't work for me.

In my main app as well as just creating a simple app with just the getting started code.

It's not throwing an error or anything, the app compiles fine but then just does nothing in the browser.

Please advise. I know this is kind of ambiguous but I'm not sure what other info I can pro

[2019-03-28 21:45] JamesBrill commented on #13
- Which version are you using?
- Which options are you setting on `SpeechRecognition`?
- If you debug or `console.log` the properties injected by `SpeechRecognition`, what do you see?

[2019-03-28 22:02] Mykasoda commented on #13
Version: 1.1.0
Options: none, just the default.
Console.log for these items...
        console.log(transcript);
        console.log(resetTranscript);
        console.log(browserSupportsSpeechRecognition);

returns "True", a blank line, and a function...

"ƒ () {
          interimTranscript = '';
          finalTranscript = '';
          _this.disconnect('RESET');
          _this.setState({ interim

[2019-03-28 22:08] JamesBrill commented on #13
I have used this same example code using version 1.1.0 and it behaves as normal.

When you run the app, do you see the red recording icon in your Chrome tab?
<img width="183" alt="Screen Shot 2019-03-28 at 22 06 58" src="https://user-images.githubusercontent.com/2140027/55196006-04e44300-51a6-11e9-9a93-6cd1bfb170be.png">

[2019-03-28 22:10] Mykasoda commented on #13
No. I used to, but now for some reason it doesn't. I must've done something to goof it up, but not sure how to track it down since it was working last time I ran it about 3 weeks ago.

[2019-03-28 22:12] JamesBrill commented on #13
To help me determine if this is a bug in 1.1.0 (which was released last week), can you revert back to 1.0.7 and see if you still get the issue?

[2019-03-28 22:13] JamesBrill commented on #13
Hard-code the version with:
[code]

in your `package.json` and then run `npm install`.

[2019-03-28 22:15] JamesBrill commented on #13
Another test to see if the Web Speech API is working in your browser:
- Open Dev Tools
- Open Console
- Run
[code]
- Do you see the red recording icon?

[2019-03-28 22:16] JamesBrill commented on #13
Another possibility is that you accidentally blocked your app from using your microphone in Chrome. If that is the case, you will see this icon in the right-hand side of your address bar:
<img width="45" alt="Screen Shot 2019-03-28 at 22 16 21" src="https://user-images.githubusercontent.com/2140027/55196403-2c87db00-51a7-11e9-8890-daeee7816969.png">

[2019-03-28 22:19] Mykasoda commented on #13
Using 1.0.7 did not fix.
It's not the blocked microphone, checked that earlier.

When I try to run...

[2019-03-28 22:22] JamesBrill commented on #13
Yes, but does the recognition start and the red icon appear on your tab?

[2019-03-28 22:23] Mykasoda commented on #13
No

[2019-03-28 22:23] JamesBrill commented on #13
Which browser are you using?

[2019-03-28 22:24] Mykasoda commented on #13
Google Chrome
Version 73.0.3683.86 (Official Build) (64-bit)

[2019-03-28 22:26] JamesBrill commented on #13
I have the same version and the two lines of code I posted above turned on the recognition. Web Speech API isn't working in your browser for some reason.

Two thoughts:
- Restart your browser and run those two lines again
- Is your microphone broken?

[2019-03-28 22:28] Mykasoda commented on #13
gonna restart whole computer again, and browser, and then test mic, will be back with results.

[2019-03-28 22:29] JamesBrill commented on #13
Haha drastic measures indeed! :D I look forward to the results.

[2019-03-28 22:34] Mykasoda commented on #13
still not working :(

I restarted computer, restarted chrome and disabled all extensions... I gotta be doing something really stupid to make this not work lol

[2019-03-28 22:35] Mykasoda commented on #13
oh and mic seems to be working, did a test record and the test setup in system prefs

[2019-03-28 22:36] JamesBrill commented on #13
And to reiterate, when you run
[code]
in a new tab, you do not see the flashing red recording icon in your tab?

[2019-03-28 22:37] Mykasoda commented on #13
correct.

[2019-03-28 22:40] JamesBrill commented on #13
What properties are on your `recognition` object? Just run `recognition`. Do you see an object like this?
<img width="753" alt="Screen Shot 2019-03-28 at 22 40 21" src="https://user-images.githubusercontent.com/2140027/55197416-70c8aa80-51aa-11e9-8670-458302e3bfef.png">

[2019-03-28 22:42] Mykasoda commented on #13
![Screen Shot 2019-03-28 at 3 41 17 PM](https://user-images.githubusercontent.com/7808729/55197521-1874b700-5170-11e9-9167-0bc101146205.png)

[2019-03-28 22:42] JamesBrill commented on #13
Did you instantiate it first?

[2019-03-28 22:43] JamesBrill commented on #13
[code]

[2019-03-28 22:43] Mykasoda commented on #13
![Screen Shot 2019-03-28 at 3 41 17 PM](https://user-images.githubusercontent.com/7808729/55197570-3e9a5700-5170-11e9-8807-d2b9c6640218.png)

[2019-03-28 22:43] Mykasoda commented on #13
![Screen Shot 2019-03-28 at 3 43 27 PM](https://user-images.githubusercontent.com/7808729/55197593-4a861900-5170-11e9-8396-dbe6b357e752.png)

[2019-03-28 22:44] JamesBrill commented on #13
And when you run `recognition.start()`, no flashing icon...

Here's a good test: try this website https://www.cs.cmu.edu/~dst/SpeechDemo/

[2019-03-28 22:46] Mykasoda commented on #13
yeah, super weird.

![Screen Shot 2019-03-28 at 3 45 46 PM](https://user-images.githubusercontent.com/7808729/55197731-a2248480-5170-11e9-8927-10c2989a30d4.png)

This is interesting, it's saying not allowed even though in site settings it's set to "ask" and when I toggle it to "allowed" it still says not allowed. I wonder if there's some global permission I messed up at some point.

[2019-03-28 22:47] JamesBrill commented on #13
Could you screenshot the thing that says the microphone is not allowed?

[2019-03-28 22:49] Mykasoda commented on #13
![Screen Shot 2019-03-28 at 3 49 34 PM](https://user-images.githubusercontent.com/7808729/55197858-1a8b4580-5171-11e9-8bd9-6a397d5f945b.png)

[2019-03-28 22:56] JamesBrill commented on #13
I'm pulling at straws here, but is it possible that Chrome itself is blocked by your operating system from using the microphone? You mentioned System Preferences earlier, so I guess you're using a Mac. Maybe check this out? https://support.apple.com/en-gb/guide/mac-help/control-access-to-your-microphone-on-mac-mchla1b1e1fe/mac

[2019-03-28 22:57] JamesBrill commented on #13
Though that link says you'd get prompted if the app tried to access the microphone again...

[2019-03-28 23:00] Mykasoda commented on #13
THAT WAS IT!!!!!

THANKS FOR GRASPING THE STRAWS!!!

I was googling for hours for something like this but just kept coming across stuff about SSLs.

I guess this was in the system update and I just had no idea it was even a thing.

AGAIN THANK YOU SO MUCH (and sorry it had nothing to do with your component really).

[2019-03-28 23:01] Mykasoda commented on #13
Yeah, it says that, but there was no such prompt lol hence having no idea where to check. Thank you again!

[2019-03-28 23:02] JamesBrill commented on #13
Glad to hear you're unblocked! This was fun. 😄

[2019-03-28 23:02] #13 closed

[2019-03-29 23:03] DoloMike opened #14 "import React, { PropTypes, Component } from 'react'"
This is in the readme and will throw an error:
`import React, { PropTypes, Component } from 'react'`
[code]

the error:
`TypeError: Cannot read property 'string' of undefined`

The readme should be updated to use:
`import PropTypes from 'prop-types'`

Also prop-types should now be a peer dependency if this is required.

[2019-03-30 18:47] JamesBrill commented on #14
You're absolutely right - thanks for pointing this out. I'll update this when I get a chance next week.

[2019-04-01 20:34] #14 closed

[2019-04-04 05:00] ish-joshi opened #16 "Does not fail gracefully on Safari"
![image](https://user-images.githubusercontent.com/25214445/55530645-a0b80680-56f2-11e9-955b-bca4ec82c6c1.png)

The graceful exit does not work on safari as it's trying to do computation with 'recognition' variable when it's null. Safari is not a supported browser.

Hence, a possible fix is adding the if statement (commented out below)

![image](https://user-images.githubusercontent.com/25214445/5

[2019-04-04 20:16] JamesBrill commented on #16
Thanks for raising this! I've merged your PR and will publish a new version immediately.

[2019-04-04 20:21] JamesBrill commented on #16
Fixed in version 2.0.1

Thanks for your contribution!

[2019-04-04 20:21] #16 closed

[2019-04-19 17:11] satishminidukan opened #18 "text produced with word repeats in mobile chrome with android devices"
https://l243n4n1wm.codesandbox.io/
here is example setup, i tried to transcript on start button click, it repeat the words in transcript on mobile chrome browser, working fine on desktop chrome.
please let me know if this can be fixed or workaround to get it working correct way.
for example, above code on start button click try to say "mobile" it print transcript 2-3 times below, in chrome browser

[2019-04-22 04:48] satishminidukan commented on #18
Hi,

Seems continuous: false option setting seems to fix the issue, it stoping words words repeat .

[2019-04-22 05:42] #18 closed

[2019-04-22 18:17] JamesBrill commented on #18
Thanks for raising this - this must have been frustrating! [This appear to be a bug in the Android Chrome implementation of the Web Speech API.](https://stackoverflow.com/a/43458449) I've made a note to update the README with your workaround and some suggestions on detecting Android Chrome.

[2019-05-14 05:57] sb5512 opened #19 "Any idea on how we could update a transcript."
For example when I say "Hello how are you" and I would want to delete the word "you" such that I only have "Hello how are". Now if I speak again and say "I am good". my new transcript should be "Hello how are I am good".

[2019-05-14 20:10] JamesBrill commented on #19
Some ideas...

## Approach 1

The first approach is to pass the entire `transcript` prop through your own custom function that modifies it in some way (e.g. deleting "you"s). i.e.
[code]
However, this could get computationally expensive quickly, so probably only useful for short speech.

## Approach 2

The second approach is to maintain your own transcript in your component state and add new parts

[2019-05-17 20:50] sb5512 commented on #19
The use case to determine "commands" out of the transcript and render text without the command. For example "Hello How are you map" should identify "map" as command and call some function to some task. In addition the rendering of "Hello How are you" should happen.

[2019-05-17 20:52] sb5512 commented on #19
Thanks for the comment.
These approach gives me good idea on how I should think in tackling the problem.

[2019-05-20 07:12] #19 closed

[2019-10-16 09:46] dinoturic opened #20 "Closed"

[2019-10-18 11:03] #20 closed

[2019-10-31 16:43] lwardlegit opened #21 "browser support issue in chrome"
Hi all, i'm using react-speech-recognition like so in my react project:

[code]
for some reason, all of a sudden my browser is not recognizing any speech from my microphone. I have used different microphones and even different computers. I have tried using npm update and I have tried using an older version of my app I have saved where I know the component works. However now that version of the app

[2019-11-02 00:14] StephenCleary commented on #21
I don't see this. I had my app working with `78.0.3904.70`, updated to
`78.0.3904.87` just now, and the app still works, [speech recognition](https://github.com/BoardGameGuides/Obsession/blob/38581f1126b67f4c4eb8a45f715f9e5287052cba/src/SpeechRecognition.jsx)
and [all](https://github.com/BoardGameGuides/Obsession/blob/38581f1126b67f4c4eb8a45f715f9e5287052cba/src/VoiceSearchBox.jsx). ([live demo](h

[2019-11-02 17:16] lwardlegit commented on #21
Thanks for the demo! i'm still having trouble but I'm honestly not sure where to begin. My browser isn't actually requesting access to the microphone at all if that's any indicator that something is off

[2019-11-02 18:56] StephenCleary commented on #21
@lwardlegit Check the right side of your browser location bar to make sure Chrome isn't denying access automatically. I had that happen once - I assume I accidentally clicked "deny" and then Chrome doesn't ask again.

If that's not it, I'd try logging to make sure `startListening` is called. That's the point at which Chrome should ask for permission.

[2019-11-03 15:53] lwardlegit commented on #21
Hey Stephen, it looks like it was an issue with my browser. After removing microphone access for my app's url I was prompted to allow the microphone and now its working again! thank you for all your help.

I really appreciate it

[2019-11-03 15:53] #21 closed

[2019-11-21 00:29] bruno-candia opened #22 "Mobile issues"
Hello,

I'm developing a project using speech recognition, and the project is already online using the AWS server. However, I have a problem when accessing the page on mobile, because I want to use speech recognition with continuous in true, but I read in the documentation that this is not possible due to a bug, so I would like to know if you have any method to use continuos in true and not turn o

[2019-12-08 05:44] hvardhan617 opened #24 "Unable to stop re rendering on hotword/wake word found in transcript"
How do i stop re render or processing the transcript once the configured wakeword is found.
Here is the code snippet i am using.
[code]
The end goal is to abort Listening whenever a hotword is found.How do i achieve this?

Right now even though, abort Listning is being called once, due to transcript in render props, it is constantly unable to update the state, hence throwing the below error in con

[2019-12-26 11:15] Desintegrator opened #25 "Start/Stop sound in mobile chrome"
How to disable sound effects when recognition starts or stop?

[2020-01-09 11:46] farhanbombay commented on #25
Android limitations, I am also frustrated

[2020-01-09 11:49] farhanbombay commented on #22
That is the limitation of android or maybe security purposes. I am facing the same problem

[2020-01-28 14:44] Desintegrator opened #26 "getting error right after startListening on mobile"
It works on desktop, but in mobile i get onend callback right after startListening.
I manually added onerror callback and it's says that it's some network error happens. But network is on. Same problem in different devices

SpeechRecognitionErrorEvent
`isTrusted: true
error: "network"
message: ""
type: "error"
target: SpeechRecognition {grammars: SpeechGrammarList, lang: "ru-RU", continuous: false

[2020-01-29 09:50] Desintegrator commented on #26
it can be fixed by "autoStart:true" option, but i don't need that

[2020-02-14 09:02] Desintegrator commented on #26
The problem is because of getUserMedia call getting audio stream. Is there a workaround to use speech recognition in parallel?

[2020-02-16 18:39] webbieram opened #27 "Transcript multiple language"
Hi,

first of all great to this react plugin. I would like to have an option to choose language from dropdown and according to that the transcription should work. Is there any way to do that?

Thanks in advance

[2020-02-27 10:30] perezcato opened #28 "Class Properties not enabled"
Support for class properties is disabled in the library

[2020-05-04 12:47] fares26597 opened #29 "Does this work on browsers only?"
Hi,
I see that it works on chrome quite well. I was wondering whether it can be implemented in an android app instead of using it through a browser. Because I couldn't find a better speech library than this one, but I can't get it to work within my app.

[2020-06-15 23:48] JamesBrill commented on #27
Hi @webbieram React Speech Recognition will inject a prop into your component called `recognition` (see [this](https://github.com/FoundersFactory/react-speech-recognition#recognition-object)). You can set the language used by Speech Recognition by assigning a language value to the `lang` property on this object. This value must be a valid [BCP 47 language tag](https://en.wikipedia.org/wiki/IETF_la

[2020-06-15 23:48] #27 closed

[2020-06-16 20:39] JamesBrill commented on #29
This is a web library intended to work in a web browser - it will not work in a native app. However, you could in theory use this inside an Android webview - it appears in the Browser Compatibility table [here](https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition).

[2020-06-16 20:55] JamesBrill commented on #24
Hi @hvardhan617

A few pointers:
- You should not be calling functions like `checkForWakeword` and `abortListening` in the `render` method. They will only be called when the `Dictaphone` is re-rendered - you want them to be called when the `isWakeWordFound` state is changed. Also, these functions do not return valid JSX - only JSX should be returned by `render`.
- A better alternative is to detect

[2020-06-16 22:45] JamesBrill commented on #28
Hi @perezcato How are you consuming React Speech Recognition? The library does use class properties, but the published package is compiled to ES5. Are you somehow consuming the raw source file?

You would see a Babel error like `Support for the experimental syntax 'classProperties' isn't currently enabled` if you were trying to compile a file with class properties without enabling the correct Babe

[2020-06-16 23:18] JamesBrill commented on #25
Hi @Desintegrator can you elaborate on what you mean by "sound effects"? Does the browser actually play a sound when speech recognition is turned on or off?

I have not experienced this before, but I imagine that these sound effects would be controlled either by the browser or the OS. There is no mention of controlling such sound effects in the Speech Recognition [docs](https://developer.mozilla.o

[2020-06-16 23:22] JamesBrill commented on #25
Ah yes, I just reproduced this on Android. The sound effects are indeed annoying. However, they seem to be controlled by the OS, so I don't think this is something we can control sadly.

[2020-06-24 22:25] #29 closed

[2020-06-24 22:25] #28 closed

[2020-06-24 22:26] #25 closed

[2020-06-24 22:26] #24 closed

[2020-06-24 23:47] JamesBrill commented on #22
I have attempted to work around this Android Chrome bug in version `2.0.6`. No guarantees that it will work on all Android devices/browsers, but you should be able to use Speech Recognition with the config you want now.

[2020-06-24 23:50] JamesBrill commented on #26
Which browser and device are you using? You can check the compatibility table in `Browser compatibility` [here](https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition).

[2020-06-25 18:46] NikkiMeganMoore opened #32 "postinstall error on installation with new 2.0.6 version"
The postinstall script is throwing an error, there is no "example" folder to cd into

<img width="771" alt="Screen Shot 2020-06-25 at 12 44 51 PM" src="https://user-images.githubusercontent.com/38014424/85780297-b17ede80-b6e1-11ea-90c7-cb73e31e1a98.png">

This was especially confusing since I also have a script to cd into my own example folder and install  :)

[2020-06-25 18:48] JamesBrill commented on #32
Ah I see what's happening there. That command assumes the `example` folder from this repo is present, when in fact only the `src` is published. On it, will get back to you with a fixed version shortly.

[2020-06-25 19:04] JamesBrill commented on #32
Okay @NikkiMeganMoore give it a shot with `2.0.7`

[2020-06-25 19:20] NikkiMeganMoore commented on #32
@JamesBrill  Works! Thanks

[2020-06-25 19:21] #32 closed

[2020-07-07 20:22] #22 closed

[2020-07-07 20:22] #26 closed

[2020-07-24 21:44] HaywoodSolutions opened #45 "Using onTranscriptionChanged(text) {} on react class component"
How do you mount SpeechRecognition onto a react class component. Ideally I would like a method for `onTranscriptionChanged: (text: string) => void` in my component

[2020-07-24 22:29] JamesBrill commented on #45
Hi Thomas! Firstly, I would say that if you are using React 16.8 or above and can refactor your class component into a functional component, that would be the best solution and would make your React app cleaner overall. If you did that, you could use `react-speech-recognition` version 3 and utilise the `useSpeechRecognition` hook and `useEffect` to detect transcription changes.

If that's not an o

[2020-07-24 23:05] HaywoodSolutions commented on #45
Perfect thanks, got it sorted!

[2020-07-24 23:05] #45 closed

[2020-07-30 19:10] singh-anita opened #48 "Having issue that `ReferenceError: regeneratorRuntime is not defined` showing for nextjs project"
Server Error
ReferenceError: regeneratorRuntime is not defined for example:  at /node_modules/react-speech-recognition/lib/RecognitionManager.js:168:61

[2020-07-31 00:03] JamesBrill commented on #48
Hi @singh-anita ! The regenerator runtime is needed to run the compiled `async/await` code in this library. I believe there are a couple of options to add this:
- Install `regenerator-runtime` into your app and then import it with `import 'regenerator-runtime/runtime'`
- Use the Babel transform runtime plugin and combine with `@babel/runtime` (see https://babeljs.io/docs/en/babel-plugin-transform-

[2020-08-03 02:03] EggTronic opened #50 "[Feature] It would be nice to have a start command."
Just like 'Hi Siri' on ios.

[2020-08-03 23:16] JamesBrill commented on #50
Hi @EggTronic, here is a simple example of a "Hey Siri" start command using `react-speech-recognition`:
[code]

Hope that gives you some ideas!

[2020-08-04 00:52] EggTronic commented on #50
Yes, using hooks properly can do the job.

Thanks, but still would be nice to use as the following way:
     useSpeechRecognition({ commands, startCommand: "Hey, Siri" })

[2020-08-04 00:52] #50 closed

[2020-08-07 08:29] vahdet opened #51 "Add TypeScript support"
Firstly, thanks for the promising work!
In my case, the basic import (`import SpeechRecognition, { useSpeechRecognition } from 'react-speech-recognition'`) fails the TypeScript check with code *ts(7016)*:
[code]

And `npm install @types/react-speech-recognition` throws:

[code]

So, I had to workaround it with adding this in my `app.d.ts file`:

[code]

So, do you have any agenda for adding TypeSc

[2020-08-07 21:39] JamesBrill commented on #51
Hi @vahdet thanks for the suggestion. I have no experience with TypeScript (though it is of interest to me), so you may be better positioned to contribute a declaration file than me. If you make a PR for this, I can advise on the types and shape of the inputs/outputs.

You probably don't even need to do the whole thing - if you get it started and help me get an idea of how to structure and publish

[2020-08-08 15:24] vahdet commented on #51
@JamesBrill  Well, yesterday I tinkered with the code indeed. I forked the repo applied my work on a new branch [`feature/typecript-support`](https://github.com/vahdet/react-speech-recognition/tree/feature/typescript-support). I have some experience with TypeScript, but cannot call myself a master of it. Anyways, I can send a PR w/ my further explanation on what I've done. And then, improvements c

[2020-08-08 17:49] shamanez commented on #18
hi any updates ?

[2020-08-08 18:31] JamesBrill commented on #18
Hi @shamanez yes, I added some logic to work around this behaviour in Android. This should be working in version `2.0.7` onwards.

[2020-08-14 02:50] EggTronic opened #53 "How can I resetTranscripts from command's cb?"
I want to clear the transcripts once the certain commands have been executed.

[2020-08-14 10:07] OleksandrYehorov commented on #51
@vahdet @JamesBrill `@types/react-speech-recognition` is now available.

[2020-08-14 14:08] JamesBrill commented on #51
Thank you @OleksandrYehorov - that is hugely appreciated. 🙇

[2020-08-14 14:19] #48 closed

[2020-08-14 14:47] JamesBrill commented on #53
Aha I see the chicken-and-egg problem here. You cannot use `resetTranscript` from the command definition because this is only defined after calling `useSpeechRecognition` with the commands. I will create a solution for this, hopefully by the end of today.

[2020-08-14 15:57] JamesBrill commented on #53
@EggTronic I have attempted to address this in v3.2.0. An object containing `resetTranscript` is passed to the command callbacks as the last argument. e.g.
[code]

Let me know how you get on with that.

[2020-08-15 03:46] EggTronic commented on #53
@JamesBrill wow thanks!!! Your problem-solving speed is amazing!

[2020-08-15 03:46] #53 closed

[2020-08-16 06:30] amirHossein-Ebrahimi opened #55 "regeneratorRuntime is not defined"
Install `react-speech-recognition` and use React `@latest v16.13.1`

https://stackblitz.com/edit/react-odefag

[2020-08-16 12:31] JamesBrill commented on #55
Hi @amirHossein-Ebrahimi See https://github.com/JamesBrill/react-speech-recognition/issues/48#issuecomment-666801823

[2020-08-17 01:27] EggTronic opened #56 "[Feature] If it is possible to add a callback for all non-valid commands."
For instance, if there is no further voice input within 2 seconds, the recognition starts to check if it is a valid command or not, if not then a special callback for non-valid commands is called.
Within this callback, the user may be able to resetTranscript or display some text feedback.

[2020-08-17 01:50] EggTronic commented on #56
Another possible feature is about this API
[code]

Would be nice if we can set the time threshold about when to continue listening
[code]

[2020-08-17 02:55] EggTronic commented on #56
I somehow implemented using the following way
![image](https://user-images.githubusercontent.com/22841829/90353133-cb58f400-e088-11ea-93f5-6712c4192a32.png)

[2020-08-17 03:50] amirHossein-Ebrahimi commented on #55
Thank you 🙏

[2020-08-17 08:24] singh-anita opened #57 "why this module not supporting in nextJs?"
This is working for reactJs but not for nextJs and showing an error that `ReferenceError: regeneratorRuntime is not defined`

[2020-08-17 20:38] #55 closed

[2020-08-17 20:47] #51 closed

[2020-08-17 20:56] JamesBrill commented on #57
Hi @singh-anita See my comments on your last issue https://github.com/JamesBrill/react-speech-recognition/issues/48#issuecomment-666801823

I believe this is an issue that is solvable within Babel, which is agnostic about which React framework you're using (Create React App, NextJS, etc). As suggested in my last comment, this should be solvable by installing and importing `regenerator-runtime`, or

[2020-08-17 21:30] JamesBrill commented on #56
Just to confirm that I understand what you're suggesting:
- Feature 1 is a callback for "do something X seconds after the user stopped speaking". In your case, you're doing some validation on the last thing that was spoken.
- Feature 2 is a specialised case of Feature 1: "stop listening X seconds after the user stopped speaking".

A simpler approach that might fit your needs is to instead focus on

[2020-08-18 02:02] EggTronic commented on #56
Oh yes, I didn't realize the usage of `finalTranscript` before, it works for the Feature 1.

I also agree that the time-based callback is unlikely to be a necessary feature.

Thank you.

[2020-08-18 02:02] #56 closed

[2020-08-19 21:30] thiagoss opened #58 "Continuous mode doesn't clear transcript"
Not sure if this is a problem with this project or the underlying Web API. When using continuous mode it keeps listening as expected, but the transcript text is never cleared, even after issuing stopListening().

I also tried calling resetTranscript() after calling stopListening() but that seems to turn on listening again for some reason.

[2020-08-19 21:50] JamesBrill commented on #58
Hi @thiagoss Can you please share the following:
- The device and browser you see this issue on
- The version of `react-speech-recognition` that you're using
- A code snippet of your usage of `react-speech-recognition`

Some initial comments:
- With continuous listening, only `resetTranscript` will clear the transcript. `stopListening` will just turn off the microphone, which prevents any addition

[2020-08-21 07:48] thiagoss commented on #58
I just got latest master as of today (v3.2.0) and turned the example into the issue by adding my code to it:
https://github.com/thiagoss/react-speech-recognition/tree/example-issue-58

It makes sense that stopListening doesn't clear the transcript but I'm still unsure why resetTranscript seems to make it start listening again. I was hoping resetting the transcript wouldn't change current listening

[2020-08-25 01:03] thiagoss commented on #58
It worked! Thanks for the quick fix!

[2020-08-25 14:16] Cosmin-Ciolacu opened #60 "update state variable!"
hi!
I created a little vocal app like this with following commands:
[code]
when I say `tell my name` in console name its undefined.

[2020-08-25 21:14] JamesBrill commented on #60
Hi @Cosmin-Ciolacu When I tested this example locally, it worked as expected with all the configurations I tried. Here's a simple working example:
[code]

If this still doesn't work for you, please share the full code for your component that is using `react-speech-recognition` - perhaps I can help you debug.

[2020-08-25 21:14] #58 closed

[2020-08-26 17:15] Raggok commented on #57
to bypass this error by add `import "regenerator-runtime/runtime"` but then i got `ReferenceError: navigator is not defined` at `react-speech-recognition/lib/isAndroid.js`

[2020-08-26 22:38] JamesBrill commented on #57
The `navigator` issue is a server-side rendering problem, which @Raggok kindly fixed. @singh-anita give version 3.2.2 a try.

[2020-08-27 11:56] Cosmin-Ciolacu commented on #60
it works! thank you very muck!

[2020-08-27 11:56] #60 closed

[2020-09-07 08:50] thiagoss opened #63 "TypeError: Cannot destructure property 'onListeningChange' of 'this.subscribers[id]' as it is undefined."
When adding multiple components that use react-speech-recognition, it seems like starting and stopping the listening can cause the error in the title. Looks like it is a race as it happens more frequently the more replicas of the component I add. With only 2 it happens more rarely for me, with 3 it happens almost all the time.

Reproduced on Windows 10 Chrome Version 85.0.4183.83 (Official Build)

[2020-09-07 08:52] thiagoss commented on #63
https://github.com/thiagoss/react-speech-recognition/tree/example-issue-63

Example here adapted to reproduce the issue. Just start/stop a few times and it will happen.

Sometimes I also get when transcripts are being created:
[code]

[2020-09-07 08:54] thiagoss commented on #63
My original use case for this is that I have a rather large text area and I want buttons on top and bottom of it to start/stop the speech recognition. That's how I got into this issue. Is this a valid use case? (Having multiple hooks from react-speech-recognition).

[2020-09-08 00:13] JamesBrill commented on #63
Thanks for the clear explanation and example @thiagoss Your use case is indeed valid and the example did highlight a race condition I previously wasn't aware of. I have attempted to fix this, please try version 3.2.3 and see how you get on.

[2020-09-09 00:05] thiagoss commented on #63
I won't claim I understood the fix (still kind of new to reactjs and javascript) but it did fix my issue. Thanks!

[2020-09-09 18:46] #63 closed

[2020-09-17 12:26] #57 closed

[2020-09-19 14:34] nirmaldymensions opened #65 "Prevent auto resetTranscript on listening when default value is set"
I've used this hook in a form where a textarea value gets updated with the spoken text. Works perfectly fine when the textarea is empty. However, if I have a default value set to the textarea, it gets reset on listening, which I'm guessing is the normal behaviour. But I don't want that. For eg. if I have "Default Notes Value" as the default value of the textarea and I start listening, the new cont

[2020-10-11 20:14] JamesBrill commented on #65
Hi @nirmaldymensions

The `transcript` string emitted by the Web Speech API is immutable. If you want to display any additional text besides the transcript, you will need to manage that state yourself and concatenate the two. I've made some minor modifications to your example to demonstrate how you might do this: https://codesandbox.io/s/serene-feather-hl07f?file=/src/TextareaWithSpeech.js

[2020-10-11 20:21] #65 closed

[2020-10-21 06:09] Untitleddotpy opened #66 "Starting to listen right after stopping does not work"
Hello,

I'm trying to use this with a TTS library and I'm trying to stop the mic from listening, then use my TTS library to say something, and then start listening again so that my speech recognition does not pick up any of the TTS speech. However, when I do this, like this:
`SpeechRecognition.stopListening();
  console.log('Anything');
  SpeechRecognition.startListening({continuous: true});
`

My

[2020-10-22 20:06] KevinDanikowski opened #67 "regeneratorRuntime is not defined NextJS"
### Issue

Build fails in nextjs due to `regernatorRuntime is not defined` from `RecognitionManger.js`. This is because the babel config which bundles the package isn't conducive to eliminating regernatorRuntime which doesn't work in server side rendering (SSR , which is what NextJS package specializes in).

### Hacky Solution

I don't know the solution, but my hacky solution was to copy the code

[2020-11-07 15:20] JamesBrill commented on #66
Hi @Untitleddotpy thanks for raising this issue!

This is a valid problem and thanks for calling it out. The internal mechanism for turning off the microphone is asynchronous but `stopListening` is synchronous.

I have addresses this in version `3.3.0`. You will need to update your code to be asynchronous and `await` the `stopListening` function. Something like:
[code]

Now the TTS library (and `s

[2020-11-07 15:29] JamesBrill commented on #67
Hi @KevinDanikowski Thanks for raising this issue. A few other NextJS users have reported this as well. One solution that worked for them was to install `regenerator-runtime` in their app and then import it with `import 'regenerator-runtime/runtime'`.

If this doesn't work, I will spin up a NextJS app myself to see if I can find a more robust solution that I can add to the `README`. Or, even bette

[2020-11-08 05:40] floan opened #69 "Mobile Support?"
Everything is working perfectly on my laptop, however, nothing seems to happen when I try to run the app on mobile (React App on a mobile browser). Is there mobile support / does the API automatically request microphone access like it does for desktop?

I see a similar problem popped up in Issue #22 , is version 3 any more successful in getting it to work on android browsers?

[2020-11-11 20:35] KevinDanikowski commented on #67
@JamesBrill  thanks for the message. Here are steps to reproduce, it's actually quite simple because it's impossible to build:

1. `npx create-next-app` (https://nextjs.org/docs)

2. `npm install react-speech-recognition`

3. in index.js import your module `import Speech from 'react-speech-recognition'`

4. run `npm run build`

Here is the sample repo for this project https://github.com/KevinDanik

[2020-11-17 13:44] Nitzahon opened #70 "Multiple commands using the same callback"
What is the best way to do this, do I have to define multiple commands with the same callback, or can a command be an array of possible strings which will call the same callback?

[2020-11-17 13:46] Nitzahon commented on #70
Also what is the best way to pass the entire command as a callback argument?

[2020-11-17 21:57] Nitzahon commented on #70
so it seems you can put an array of commands to use the same callback

[2020-11-17 22:06] Nitzahon opened #71 "Commands don't work of languages with non-english characters"
So the speech recognition does support for instance, hebrew, however when trying to write a command in hebrew, the callback isn't summoned.  according to the transcript, it was spoken perfectly, but it did not activate the command callback that was set up.  Also, resetTranscript does not work when called by handleReset (or perhaphs it's just not called), only with the spoken 'clear' command

[code

[2020-11-18 07:43] Nitzahon commented on #8
how would you implement this if Dictaphone in an functional component that uses callbacks.  For instance, maybe I want a voice command to change the language

[2020-11-18 18:25] JamesBrill commented on #69
Hi @floan ! From my experience, the support for the Web Speech API is limited on mobile. It is completely unavailable on iOS and limited to Chrome/Samsung Internet on Android. Regarding speech recognition, we are limited by what the native OS allows the browser to perform and for this API, many devices will automatically deny the browser access to the microphone.

On my Android device, Chrome asks

[2020-11-19 09:31] exzib opened #72 "How to do commands with names and dynamic letter, e.g: What is Lux Q/W/E/R Cooldown"
I am trying to use this to build some type of hobby AI app where you can ask the app about "cooldowns" for the game league of legends.

Basicially the structure of the commands would be like such:

"(What is) Lux * Cooldown"

Where * can be Q, W, E or R

How could i make this command? so that the Voice recognition returns to the callback the letter the user said?

[2020-11-21 18:42] JamesBrill commented on #67
Thanks for taking the time to prepare that example repo. I was able to reproduce the issue according to your instructions.

The solution that worked for me was to follow what others have done:
* `npm i --save regenerator-runtime`
* Import the Regenerator Runtime at the top of your JS index. i.e. put `import 'regenerator-runtime/runtime'` at the top of [this file](https://github.com/KevinDanikowski

[2020-11-21 19:34] JamesBrill commented on #71
Hi @Nitzahon thanks for raising the issue!

The cause of this problem is the fact that the library does not actually support commands that are arrays. It was kind of a fluke that this appeared to be working in the first place. When fuzzy matching is used, the library converts the command into a string. JavaScript is very lenient and allows arrays to be converted into strings. As a result, your com

[2020-11-21 19:35] JamesBrill commented on #70
Array commands are not actually supported (though they probably should be). See [this comment](https://github.com/JamesBrill/react-speech-recognition/issues/71#issuecomment-731625889) on your other issue.

[2020-11-21 20:04] JamesBrill commented on #8
@Nitzahon With the current API, I would just call `startListening` again with the new language when it is selected (either via voice command or button click). This restarts the microphone with the new language being detected.

Just for fun, I took your idea and made a dummy component that can switch languages by voice command.
[code]

Using voice command to change language is not a good idea as yo

[2020-11-21 20:12] JamesBrill commented on #70
Reopening to remind myself to add support for array commands.

[2020-11-22 08:28] Nitzahon commented on #71
You read my mind. I feel violated :P
I haven't been on my PC all week, but this exact code has been running through my brain since Thursday.  And array support would be nice, I have indeed noticed all of your points regarding how the command is processed.

[2020-11-22 08:42] Nitzahon commented on #8
You make a good case for not making it work via voice command.  I'd probably go for a radio selection over a dropdown, since I only plan to have 2 supported languages

[2020-11-22 10:07] Nitzahon commented on #71
one issue I'm encountering, while I can clear the transcript with a voice command using the code above.  I am not able to make it work with a button press like in this code:
[code]

[2020-11-22 11:31] JamesBrill commented on #71
The `handleReset` in your example above differs from the one in your `biomarkerz` repo. Let's examine each one:
[code]

This does not call `resetTranscript` so the transcript will remain the same. If your intent here was to stop the microphone and restart it with Hebrew detection, you would just need to call:
[code]

No need for the `stopListening` call. Though if you did need to stop the micropho

[2020-11-23 07:27] Nitzahon commented on #72
I would try making the callback use the spoken phrase.  Take the spoken phrase as a string to remove "(What is) Lux" and "Cooldown", trim, and then run what's left through a basic switch case.  I'll note, that while speech recognition can recognize "Q", "W" and "E"  it will most likely recognize "R" as "AR" or "are"

[2020-11-23 07:32] Nitzahon commented on #71
Yesterday this worked like a charm.  Today the voice commands are taking an extra long time.  The transcript displays properly but the voice commands take at least a minute to fire off the callback, is there a way to check the api response time, or maybe it's something in my program that's causing it to wait?

[2020-11-23 09:15] JamesBrill commented on #71
You might just need to refresh the page - I've found the Web Speech API's performance to be inconsistent if the page is left open for a long time. I'm not sure how to profile the Web Speech API - there's no visible network requests in the Network tab. You might also want to try `matchInterim: true` on any non-fuzzy commands to speed up the response.

[2020-11-23 21:06] JamesBrill commented on #72
Sounds like a cool project, @exzib !

@Nitzahon 's suggestion would work, though it might be tricky to manually find the letter in the transcript. I have an alternative that might be sufficient.

You can use a [named variable](https://github.com/JamesBrill/react-speech-recognition#command-symbols) to capture the letter in the command:
[code]

Then the `doSomething` function can operate on whatever

[2020-11-24 10:33] Nitzahon commented on #71
Okay, so I found out what change caused the slow down. it was removing this code
[code]

from:

[code]

without that conditional `startListening({});`  it takes several seconds for voice commands to fire
as opposed to almost instantaneous callback

[2020-11-24 21:04] JamesBrill commented on #71
Ah, I didn't notice you were calling `startListening` on every render - this should be avoided. During speech, the component will be re-rendering frequently. As a result, it will be hammering the `startListening` method and possibly overwhelming the Web Speech API. You only need to call `startListening` once for each time you want to collect speech.

To start listening on "mount", you need to repl

[2020-11-27 00:32] KevinDanikowski commented on #67
Thanks @JamesBrill that's a great solution as well! by importing the project directly into my app maybe nextjs did something with the regenerator run time directly, not sure.

[2020-11-27 05:26] floan commented on #69
Hello!

Sorry for the late response. You're right, my device/browser doesn't support the Web Speech API. Thanks for the info!

[2020-11-29 09:59] Nitzahon opened #73 "Fire command on stopListen"
I know the api lists a way to add an event listener to the onaudioend property of Speech Recognition.  I have no luck. basically I'm trying to get a function to fire whenever the speech recognition does it's automatic stopListen (when listening isn't continuous) so that it can update a useState that checks the listening status and shows the right button (on/off).

Do you have an example to show me

[2020-11-29 10:01] Nitzahon commented on #71
I'll probably change my code then, to manually start the listen on a function call.  but I will also need to recognize when listening has stopped.

[2020-11-29 10:25] JamesBrill commented on #73
You just need to render different content based on the `listening` property. Most basic example:
[code]

If you want to do something when the API stops listening (e.g. updating your state), you can make use of `useEffect`:
[code]

[2020-11-29 10:25] #69 closed

[2020-11-29 10:36] Nitzahon commented on #73
This is perfect.  Thank you

[2020-11-29 10:36] #71 closed

[2020-12-04 04:48] eesayas commented on #73
Hi I'm trying this too but my state is not updating back to "when listening". Thanks in advance!

[2020-12-08 15:00] erdenebayrd opened #74 "to use useSpeechRecognition hook like local useState"
hi, how to I use transcript of "const { transcript, resetTranscript } = useSpeechRecognition();" like local state, I have some textfields which are using useSpeechRecognition and its value is "transcript", but when one of textfields value changed, all of the components that contains textfield has changed

[2020-12-09 05:07] Untitleddotpy commented on #66
Hi James,

Thanks so much! It seems to work now!

[2020-12-09 05:07] #66 closed

[2020-12-11 14:37] petrkrejcik commented on #74
I have the same issue. I've solved it by extracting the hooks into a context which is used by all the inputs. The downside of this approach is that all child componentes of this context are re-rendered when transcript changes.

But I would prefer to use the `useSpeechRecognition` independently in each component.

[2020-12-14 10:39] JamesBrill commented on #74
Hi @erdenebayrd and @petrkrejcik I'm not sure I fully understand the problem scenario. Let's see if I can confirm my understanding:
* You have a component using `useSpeechRecognition` that renders a text `<input>` with the value set to `transcript`
* You have multiple instances of this component rendered in your web app
* When the transcript in one component changes, all of the components update
*

[2020-12-14 10:55] JamesBrill commented on #73
Hi @eesayas Could you elaborate on what you are trying to do and perhaps provide some example code?

I had a look through your code and I'm guessing your issue is [here](https://github.com/eesayas/dear-diary/blob/refactor/src/components/Compose.js#L92). You just need to add `paras` and `setParas` to your list of dependencies in `useEffect`. Otherwise, your logic inside `useEffect` will always be r

[2020-12-14 10:57] #67 closed

[2020-12-14 11:41] JamesBrill commented on #70
@Nitzahon Array-based commands are now supported in [v3.4.0](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.4.0)

[2020-12-15 12:33] Nitzahon commented on #70
You sir, are what is known as a [mensch](https://en.wikipedia.org/wiki/Mensch)

[2020-12-15 12:47] Nitzahon commented on #70
On question though, how do you send  the spoken command itself from the array as the callbacks argument? like this:
[code]
or like this:
[code]
or something else?  will I still need to use the same solution you gave me in 3.3.0?

[code]

[2020-12-15 13:08] Nitzahon commented on #70
so this works:
[code]

There is only the issue, of, if multiple commands match the fuzzy requirements, all are called with the callback instead of the command which most closely matches.
i.e.:  If my array contains the commands `["Everything is working", "Nothing is working"]`, my fuzzyMatchingThreshold is set to 0.7 or lower and I say "Everything is working"  The callback will be called twice, on

[2020-12-15 14:53] JamesBrill commented on #70
Ah yes, it would make sense to know which of the commands in the array was matched. I'll make a quick update.

[2020-12-15 15:21] JamesBrill commented on #70
@Nitzahon Give [v3.5.0](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.5.0) a try. The callback can get the matched command from the last argument, which will be an object with a new property: `command`.

[2020-12-15 15:25] JamesBrill commented on #70
i.e.: If my array contains the commands ["Everything is working", "Nothing is working"], my fuzzyMatchingThreshold is set to 0.7 or lower and I say "Everything is working" The callback will be called twice, once for "Everything is working", and once for "Nothing is working", even though "Everything is working" more closely matches.

This is an interesting point. It may be desirable in some cases t

[2020-12-15 17:26] Nitzahon commented on #70
Letting you know, this would be useful ;-)

[2020-12-15 23:48] Nitzahon commented on #70
tried this.  Did not work:
[code]
expected outout: `"command is: Everything is Working"`
actual output:   `"command is: undefined"`

[2020-12-16 09:28] JamesBrill commented on #70
I'll repro this and see what I can do.

[2020-12-16 09:31] JamesBrill commented on #70
Initial tests indicate this issue is exclusive to fuzzy-matched commands. My bad for not testing that case when I made that release. Investigating.

[2020-12-16 09:33] JamesBrill commented on #70
Ah wait, this does make sense. Fuzzy callbacks get three other arguments before that one.

[2020-12-16 09:37] JamesBrill commented on #70
With fuzzy commands, you can use the first arg like before:
[code]

[2020-12-16 09:39] JamesBrill commented on #70
This does make me want to clean up the API a bit. Ideally, there would just be one object arg for both fuzzy and non-fuzzy commands, and the callback could unpack whatever it needed.

Before I do that, I'm going to look into your request for "closest match wins" for fuzzy commands.

[2020-12-16 12:05] JamesBrill commented on #70
@Nitzahon Give [v3.6.0](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.6.0) a try - it adds an option to only trigger the callback once, on the best fuzzy match.

[2020-12-20 22:10] waelmas opened #80 "Chrome on iOS not working"
It seems like speech recognition is not working on Chrome on iOS devices.

Not sure I'm doing something wrong but it seems like the fallback is triggered as if the browser did not support speech recognition at all.

[code]

[2021-01-04 07:08] 0x213F opened #81 "Allow code to run inside "recognition.onresult""
**Summary**

I want to keep track of the raw interim transcript data accessible from [`recognition.onresult`](https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition/onresult). As such, I wrote the following code:

[code]

[`interimTranscript`](https://github.com/JamesBrill/react-speech-recognition/blob/master/docs/API.md#interimtranscript-string) does not fit my use case because I am l

[2021-01-09 12:34] JamesBrill commented on #80
Hi @waelmas It seems that the Web Speech API is not supported by iOS on any browser. So `SpeechRecognition.browserSupportsSpeechRecognition()` will return `false` on that platform. I will update the README to state this. There is a project to enable an AWS-based polyfill for the Web Speech API to enable it to work on unsupported browsers - you can follow its progress [here](https://github.com/Jame

[2021-01-09 12:40] JamesBrill commented on #81
Hi @0x213F Your report does indeed contain sufficient information, thank you. And your hypothesis is correct.

May I ask what event data you need to access besides the transcript?

[2021-01-09 12:46] JamesBrill commented on #81
In the meantime, you could try this workaround:
[code]

[2021-01-18 12:00] Nitzahon commented on #71
I found a solution that appears to work!
I connected my webcam stream to [hark](https://www.npmjs.com/package/hark) and had it set a redux boolean on the speaking and stopped_speaking events.  then I added this useEffect:
[code]
isRecog is a selector from redux signaling a request to record.
All I need now is to make sure it doesn't interfere with the media recorder I have set up, but I think this

[2021-01-21 13:29] Nitzahon opened #82 "bug found with bestMatchOnly"
So if you may recall I was the one who requested the feature of bestMatchOnly, I found a bug though, when working with an array that included the nfollowing:
[code]
when ever either "item four" or "item five" was spoken, the command that triggered the callback (aka the bestMatch) was in fact "item two"

[2021-01-23 11:44] JamesBrill commented on #82
This is unfortunately the expected behaviour of the Web Speech API. When you say "item six", Web Speech API will actually transcribe this as "item 6", which matches all of your four command phrases equally badly so ends up just matching the first one by default. The matching algorithm just operates on the raw strings and does not understand the meaning of any words.

To make things more complex, s

[2021-02-08 20:56] melounek opened #83 "multiple instances for multiple language use-case"
I would like to simultaneously transcript the voice in more language at once so I can also detect the language this way.

That's why I am wondering why there are the global variables `recognitionManager` and `SpeechRecognition` because if they would be store as a state of the hook, it would be possible to create as many instances as I need.

so the questions are:
 - is it possible to refactor thes

[2021-02-10 01:27] timesarrow opened #84 "Access to finalTranscript from within command callback"
It would be pretty useful to be able to get to the final transcript before the command callback is executed. Right now you can access the {command} as a param within the callback but that only gives the matched command. So for example, I say "my favorite foods are pizza and beer" and the command is set up as "my favorite foods are * and *". I could log it that way but I'd rather have the full text

[2021-02-12 03:22] wann2 opened #85 "Does the speech recognition function work in Electron?"
I wonder whether this speech recognition function works in Electron.

[2021-02-21 14:15] JamesBrill commented on #83
Hi @melounek The default Web Speech API only supports the transcription of one language at a time - hence, this is a global property. It also does not provide any kind of language detection. For something like that, you will need to use a different Speech Recognition service, one with some more advanced machine learning features under the hood. Alternatively, you could require that users manually

[2021-02-21 14:17] #70 closed

[2021-02-21 14:17] #72 closed

[2021-02-21 14:17] #73 closed

[2021-02-21 14:17] #74 closed

[2021-02-21 14:17] #80 closed

[2021-02-21 14:18] #81 closed

[2021-02-21 14:53] JamesBrill commented on #84
Hi @timesarrow In theory, you shouldn't need access to the final transcript - you already have what you need inside the callback. For example, let's say you have the command for `'My favourite foods are * and *'`. When this is matched, the callback will receive the two words that matched the splats. You already know what the command template is, so you just need to insert the two matched words to

[2021-02-21 14:58] JamesBrill commented on #85
Hi @wann2 I don't believe the Web Speech API is supported in Electron, though I haven't experimented with it before.

If it doesn't, you do have the option of combining the [latest release](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.7.0) of `react-speech-recognition` with Azure Cognitive Services and [this polyfill](https://github.com/compulim/web-speech-cognitive-servi

[2021-02-21 21:27] iwgx commented on #67
Hi, I think `import 'regenerator-runtime/runtime'` didn't work anymore

[2021-02-26 20:39] melounek commented on #83
Right, I didn't see it is the global property so I will have to figure out something else.

Thanks for the polyfill.
And just FYI: I didn't really find out how to work with the `authorizationToken` to avoid exposing subscriptionKey In neither your's, compulim's or azure's docs.

[2021-02-26 20:39] #83 closed

[2021-03-07 10:57] #82 closed

[2021-03-07 11:01] Nitzahon opened #88 "Issue when used in nextjs project"
So the decision was made to move the site to nextjs to improve response time, and we've encountered the following error when trying to load a component that uses your package:

[code]

![image](https://user-images.githubusercontent.com/8536290/110237492-13683700-7f45-11eb-89b2-31c511e9b194.png)

I'm hoping there is a simple fix for this.  This package is fantastic and I loathe the thought of chang

[2021-03-07 13:57] Nitzahon commented on #88
easier to read:
[client] ReferenceError: regeneratorRuntime is not defined
[client]     at G:\Repositories\Biomarkerz\biosurveyfs\client\node_modules\react-speech-recognition\lib\RecognitionManager.js:201:61
[client]     at G:\Repositories\Biomarkerz\biosurveyfs\client\node_modules\react-speech-recognition\lib\RecognitionManager.js:272:6
[client]     at Object.<anonymous> (G:\Repositories\Biomarke

[2021-03-07 14:11] JamesBrill commented on #88
Hi @Nitzahon Could you try the following:
* `npm i --save regenerator-runtime`
* Put this at the top of your `_app.js` file: `import 'regenerator-runtime/runtime'`

If this works, I'll add this to the README as this seems to be a recurring problem for NextJS users.

[2021-03-07 15:56] Nitzahon commented on #88
Legend....

[2021-03-07 15:57] Nitzahon commented on #88
Wait for it.....

[2021-03-07 18:53] Nitzahon commented on #88
DARY!

[2021-03-07 18:53] #88 closed

[2021-03-09 16:35] timesarrow commented on #84
That works, although I was hoping to be able to use the actual spoken phrase without having to splice it together. Not a huge deal tho. Thx for the info.

[2021-03-09 16:35] #84 closed

[2021-03-21 18:57] spiderpoul commented on #88
Worked for gatsby as well. Thanks!

[2021-03-25 12:06] ratnabh opened #89 "React speech recognition does not work in chrome for mobile"
Hi there, the code
[code]
works very well in chrome browser on my macOs but doesn't works in mobile devices on chrome, have tried on various devices but it only listens for the first time and then after i hit the api with my finalTranscript it automatically stops listening. I wonder do i have to do something else in mobile devices to make it worse ?

Thanks

[2021-03-31 09:40] fungerouscode opened #91 "Why example not working after i stop speaking ?"
I used ```continuous``` but it's not working ? Please help me

[2021-04-07 03:44] Montezi commented on #89
Hi @ratnabh  did you succeed solve this problem? I have the same problem and I still can't find any solution.

[2021-04-07 04:14] ratnabh commented on #89
Hi @Montezi , unfortunately not. I have even tried on various devices but seems some problem with the library itself :(

[2021-04-07 05:18] ratnabh commented on #89
@Montezi the core web speech api is working perfectly fine for this purpose, i suggest you to try that.

[2021-04-07 10:33] JamesBrill commented on #89
Hi @ratnabh Thanks for raising this issue. Can you provide some details to help me reproduce this?
* Version of the library used
* Version of Chrome
* iOS or Android?
* The full code of your React component so I can see how you're using the library

My initial thoughts:
* I'm assuming this isn't on iOS as, last time I checked, the Web Speech API isn't supported on any browser in iOS.
* There used

[2021-04-07 15:15] ratnabh commented on #89
Hi @JamesBrill , thanks for responsing.
Version of library used - 3.7.0
Version of chrome 89.0.4389.105
Android 10
Here is the link to my github repo https://github.com/ratnabh/React-Redux-with-new-hooks-api-multireducer-

To run the project
[code]

Then to run this project on mobile u could use your system ip address followed by your port like `192.xxx.x.222:3000`

To run this on chrome in mobile

[2021-04-07 19:26] JamesBrill commented on #89
I was able to reproduce some weird behaviour on Android Chrome with a simple dictaphone component that enabled continuous listening. On desktop, it behaved as expected. But on Android Chrome, I observed the following:
* The microphone turns off when you stop speaking. This is the behaviour of `continuous: false` ("discontinuous listening")
* The microphone automatically restarts after it turns off

[2021-04-08 12:40] ratnabh commented on #89
Thanks for your response and letting me know ngrok, and yes without  'continious:true' it works fine on android chrome.

[2021-04-14 21:03] #85 closed

[2021-04-14 21:06] JamesBrill commented on #91
Hi @fungerouscode Could you provide the code you're using? Are you exactly using the example code from this repository? Or one of the examples from the README?

Also, are you using Chrome on Android? We found recently that Chrome on Android does not support continuous listening (https://github.com/JamesBrill/react-speech-recognition/issues/89).

[2021-04-15 18:24] JamesBrill commented on #89
Cool, I hope you're unblocked now. I've made a new release that gives you the option of disabling continuous listening on browsers that don't support it. See [v3.8.0](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.8.0).

[2021-05-14 12:21] ratnabh commented on #89
Thanks @JamesBrill , also i wanted to know does `resetTranscript` on useEffect cleanup doesn't work properly ?
Actually i was trying to show the transcript to the user, on unmounting of the component, transcript doesn't get cleaned so next time when user mounts that component again, the previous transcript is still shown. :(

[code]

[2021-05-17 12:41] kintzinj opened #95 "Not working in Chrome using localhost"
Hi,

I was trying the code below but it seems the transcript is not updated:

	const { transcript, finalTranscript, listening } = useSpeechRecognition();
	const STTHandler = async () => {
		if (SpeechRecognition.browserSupportsSpeechRecognition()) {
			console.log("Listening:",listening)
			if (listening) {
				console.log('stoping');
				console.log('transcript:',transcript);
				console.log('fin

[2021-05-21 13:25] JamesBrill commented on #89
@ratnabh I think the issue is actually in `abortListening` - I have a feeling there's a bug in that method that causes old transcripts to hang around. Your solution might be as simple as using `stopListening` instead. Let me know if that works for you.

Normally, the `transcript` should reset by itself when remounting a component that uses `useSpeechRecognition`. Here is a similar example componen

[2021-05-21 13:26] #91 closed

[2021-05-21 13:31] JamesBrill opened #96 "Bugs in abortListening"
There are couple of undesirable behaviours in the `abortListening` method:
* Bug 1 - repro steps:
  1. Start listening
  2. Say something to produce an interim transcript
  3. Before the transcript gets a chance to be finalised, abort listening
  4. Restart listening
  5. Say something else
  6. The interim transcript from step 2 will be replaced by the new transcript. Expected: the new interim tr

[2021-05-21 13:50] JamesBrill commented on #95
Hi @kintzinj I've replicated your code with a simple example that works fine in Chrome/localhost:
[code]

Clicking the button produced the expected logs with updated transcript when stopping and starting, changed the microphone state as expected, and displayed my transcription. So I think your callback works as expected.

A couple of suggestions for you to diagnose your issue:
* Have you tried a s

[2021-05-24 19:01] irasanchez commented on #95
I can't get it to work either. I've commented out my component and just put the Dictaphone example with no luck. When using the debugger, I can see my transcription gets built and lost at some point, but I don't know why/how. The transcript is always an empty string in the console when not using the debugger to step into everything.

[2021-05-25 07:45] kintzinj commented on #95
Hi @JamesBrill, thanks for your answer !

Unfortunately, I have tried a simplified version and I checked that my callback was triggered.

I tried to uninstall and install the package several times but nothing is really changing. In odrer to use the microphone, should I  activate something in Chrome's settings ?

[2021-05-25 15:41] Alastair1234 opened #98 "iOS devices"
https://firt.dev/ios-14.5/#speech-recognition-api

Following this repo with interest and had been reading about iOS 14.5.  Are iOS devices supported now?

[2021-05-25 17:09] JamesBrill commented on #95
* Can you visit https://mdn.github.io/web-speech-api/speech-color-changer/ and see if that Web Speech API demo works? If it doesn't, it may be something to do with your browser settings or perhaps a Chrome extension that's affecting the Web Speech API. I'm not aware of any particular setting besides the permissions, which you can set [here](chrome://settings/content/microphone). Is it possible tha

[2021-05-25 17:13] JamesBrill commented on #98
Hi @Alastair1234 In theory, yes! I've tested Safari 14.1 on Mac and the native Speech Recognition API there works great with `react-speech-recognition`. See [this discussion](https://github.com/JamesBrill/react-speech-recognition/discussions/94) for more context.

From my understanding, iOS 14.5 also uses Safari 14.1 so should also support it. I don't have an iOS device, so it would be awesome if

[2021-05-25 17:21] Alastair1234 commented on #98
Many thanks for the information.  I will try it and let you know.

On Tue, 25 May 2021, 18:13 JamesBrill, ***@***.***> wrote:

[2021-05-26 07:38] kintzinj commented on #95
Hi again @JamesBrill,

I have found my issue.. it's not related to the "react-speech-recognition" package but the problem comes from my microphone access. Thanks for your help (your last comment helped me a lot). I will close this issue :)

[2021-05-26 07:38] #95 closed

[2021-05-26 10:14] DmitryRback opened #99 "bestMatchOnly does not work correctly"
If you set the fuzzyMatchingThreshold: 0.7, bestMatchOnly: true, isFuzzyMatch: true parameters, if two phrases match, the callback can be executed more than once.

[2021-05-26 15:06] urbanL1fe commented on #99
@JamesBrill  I could look into it if you want

[2021-05-27 22:46] JamesBrill commented on #99
@urbanL1fe Yes, by all means, thank you.

@DmitryRback Note that `bestMatchOnly` only applies to the phrases within a single command, not to all commands globally. Let's say you have this callback:
[code]

Let's also say that you have two similar phrases that you want to listen for, "eat" and "beat", and that you want to call the above callback in response to either of them.

If you have one comma

[2021-05-30 11:27] JamesBrill opened #100 "Expose when a browser doesn't support a polyfill"
Currently, when a polyfill is used, `browserSupportsSpeechRecognition` will always be `true`. However, while polyfills will be widely supported across browsers, there are exceptions like Internet Explorer that don't support standards like `MediaStreams`. As per the `POLYFILLS.md` doc, the burden is on the consumer to check for this browser support. This library should pick up that burden.

A quick

[2021-05-31 18:56] crossLineApex opened #101 "Accessibility regarding react speech recognition for blind people"
I'm working on a train ticket booking website which will be user-friendly with accessibility features but my main target is making it highly accessible for blind people.

Is there a way such that the speech recognition works with just the loading of website and on each react component, to be precise it should be voice controlled.

I'm planning to use a very simple UI for easy and precise screen re

[2021-06-02 09:38] JamesBrill commented on #101
Hi @crossLineApex this is an interesting use case and exactly the kind of thing I hoped this library would be used for.

A few comments:
* Unfortunately, most browsers don't give us the choice of starting the microphone without a user action (I think Chrome is currently an exception, but I wouldn't count on that remaining the case). I believe they throw an error if the web app attempts to take con

[2021-06-02 12:22] crossLineApex commented on #101
Hey James Brill

Thank you so much for giving a better insight. Couldn't have been better.

It's a hard thing ofcourse

I have come up with a very simple UI for blind as well as normal users

The first plan is to provide easy voice navigation on the website.

Next would be form input for destination, train status.

I want to make it in best of my abilities. It may not be enough but atleast
I would

[2021-06-11 14:08] JamesBrill commented on #100
Addressed by https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.8.1

[2021-06-11 14:08] #100 closed

[2021-06-14 10:04] DmitryRback commented on #99
Thank you solved the problem)

[2021-06-14 10:04] #99 closed

[2021-06-20 20:15] Ashish117 opened #104 "React Pwa issue"
Hi, I built a react PWA and implemented the library, I am using an iOS device with latest os, I am successfully able to use it in safari but as an app it is not asking for microphone permission when triggering ```SpeechRecognition.startListening()``` . I tested ```       navigator.mediaDevices.getUserMedia({
      audio: true
     });``` and it is asking for permission and starts recording but the

[2021-06-23 09:30] DmitryRback opened #105 "Safari 14.1.1(MacOS), Safari 14.6(IPhone), microphone not will stop listening when the user stops speaking"
If language: ua  microphone not will stop listening when the user stops speaking.

[code]

[2021-06-24 03:40] 0xf10yd commented on #105
You should either implement  `browserSupportsContinuousListening` state from the `useSpeechRecognition`
[code]
to detect the browser support for continuous listening, ad that's because not all browsers have good support for it, or you can try the polyfills to enable/disable continuous listening on those browsers.

Also consider rechecking the documentation provided on the repo

[2021-06-24 05:18] DmitryRback commented on #105
A real project has
[code]
, this is just an example.
And I don’t need continuous listening. Now the microphone will not stop listening when the user stops talking.

[2021-07-01 11:11] nvd9411 opened #108 "Audio file"
Hello, I would like to ask that how could I get the audio file that is used for conversion from speech to text. I need that to put in the <audio> tag.
Thank you so much.

[2021-07-01 18:34] JamesBrill commented on #104
Hi @Ashish117 Some comments:
* It appears that Safari does not currently support Speech Recognition on PWAs. See the comment [here](https://firt.dev/ios-14.5/#speech-recognition-api): "_Unfortunately, the Speech Recognition API does NOT work inside a standalone PWA. The API is available, so a feature detection algorithm detects it, but nothing happens. My guess is that it has to do with the speech

[2021-07-01 19:16] JamesBrill commented on #105
Hi @DmitryRback I did some testing and unfortunately, this appears to be a bug in Safari. For some languages, including at least Ukrainian and French, Apple's speech recognition API (I think it's Siri) is not able to detect the end of an utterance (a concept called [endpointing](https://developers.deepgram.com/guides/streaming/endpointing)). It appears that Apple's endpoint detection algorithm fai

[2021-07-01 19:29] JamesBrill commented on #108
Hi @vdn19 I'd just like to clarify your use case:
* Would you like to take an input audio file (e.g. uploaded by the user) and run speech-to-text on it to convert it into text?
* Or would you like to generate an audio file while performing speech-to-text that the user can download?

Either way, this is not supported by the Speech Recognition API (to the best of my knowledge). This API sends audio

[2021-07-05 09:35] Nitzahon opened #109 "Adding prefixes to command array"
I'm trying to allow users to answer survey questions with speech recognition,  but currently, I can only get the command to work as intended if every question has unique choices (the choices are sent as an array for speech recognition).
[code]

 However, I want to try and allow the user to choose a question by number or by some other thing to maybe send the speech component.  something like this p

[2021-07-17 12:16] JamesBrill commented on #109
Hi again @Nitzahon Yes, this use case isn't possible due to the limitations of combining splats and fuzzy matching (which I assume you need to reliably match your commands). I'll see what I can come up with.

In the meantime, you'll need to have separate commands for selecting questions and processing answers. From a user experience perspective, this might not be the end of the world: (a) if I say

[2021-07-17 12:40] JamesBrill commented on #109
Another short-term solution while I figure this out is for you to use the non-fuzzy command `'question :number *'` and do the fuzzy matching yourself on the `*`. The fuzzy matching logic ultimately comes from [here](https://github.com/aceakash/string-similarity), which you can reuse.

[2021-07-17 15:00] JamesBrill commented on #109
I've published a prerelease version `3.9.0-rc1` for you to try out. Be warned, this is experimental and only manually tested. I've not decided if this is a good idea yet, so this is subject to change!

This version allows you to specify a fuzzy matcher on part of a non-fuzzy command. The part of the command on which the fuzzy matcher applies is marked by a special command symbol I'm calling a "fuz

[2021-07-20 04:38] LeXuanNguyen opened #110 "regeneratorRuntime is not defined"
This error is reported when I use the library on my project:

Uncaught ReferenceError: regeneratorRuntime is not defined

[2021-07-25 12:56] amirzenoozi commented on #110
I have the same issue when I use in my `typescript` project

[2021-07-25 13:49] JamesBrill commented on #110
Hi @LeXuanNguyen @amirzenoozi Check out [this](https://github.com/JamesBrill/react-speech-recognition#regeneratorruntime-is-not-defined). Let me know if that helps.

[2021-07-25 14:07] amirzenoozi commented on #110
@JamesBrill I Check That Link and It's Work But Only In Chrome Browser and the other issue is we don't have `browserSupportsSpeechRecognition` in `useSpeechRecognition()` What Should I Do About This?

[2021-07-25 17:05] JamesBrill commented on #110
@amirzenoozi Do you mean that after installing and importing `regenerator-runtime`, you still see `regeneratorRuntime is not defined` in browsers other than Chrome? Or do you mean that speech recognition functionality does not work outside of Chrome? The latter is largely true due to the limited support for the Web Speech API in many browsers (see [supported browsers](https://github.com/JamesBrill

[2021-08-07 19:51] marharyta opened #113 "Feature Request: Add Google Speech-To-Text API polyfilloption"
First of all, thank you for your work and this component is 🔥

Feature request:
I like using it for my app, but I would love to be able to use Google Speech-to-text API [like in this project](https://www.npmjs.com/package/react-hook-speech-to-text), for example. Is it possible to create a polyfill or integration similar to the one you have with Speechly but with Google Speech-to-text API?

Thank y

[2021-08-07 20:25] JamesBrill commented on #113
Hi @marharyta Thanks for raising this!

Yes absolutely, a Google Cloud speech-to-text polyfill would be awesome - nobody has raised interest in it until now. Ensuring there are Web Speech polyfills based on all the major cloud providers is a goal of mine, even if it's not me implementing the polyfills. We've got Microsoft and Speechly so far, with AWS support on its way. Adding Google would make t

[2021-08-08 07:39] marharyta commented on #113
Thanks a lot for the detailed answer! This seems to be a very well-maintained project and it does what I need it to it terms of functionality.
I will take a look at it when I have time and maybe even contribute! Have a lovely day!

[2021-08-08 14:02] JamesBrill commented on #113
A little update on this. I was able to create a working polyfill that replicates the behaviour in `react-hook-speech-to-text`. However, it seems the implementation uses the [REST API](https://cloud.google.com/speech-to-text/docs/reference/rest/v1/speech/recognize?hl=en_GB) to upload an audio file for each utterance made by the user. This is okay, but does not enable responsive voice-driven applica

[2021-08-16 08:08] marharyta commented on #113
This actually was one of the problems I had - the latency between stopping recording and getting the final transcript. Since this seems to be the only option for us anyway, I would be happy to have even that.

What I ideally would need is being able to subscribe to transcript update (promise?) and later clear transcript to re-start recording from a clean slate.

Again, thank you for being responsi

[2021-08-24 05:39] daehyunkim73 opened #115 "Voice recognition does not work when polyfill is applied in React"
I am developing speech recognition in React.
However, when applying the following polyfill, voice recognition is not available.
The problem code followed the guidelines.

const appId = 'app id number';
const SpeechlySpeechRecognition = createSpeechlySpeechRecognition(appId);
SpeechRecognition.applyPolyfill(SpeechlySpeechRecognition);

English voice is recognized
but other languages ​​don't work
Is

[2021-08-24 13:23] JamesBrill commented on #115
Hi @daehyunkim73 Last time I checked, Speechly does not currently support languages other than English, at least not in the API used in their polyfill (see polyfill [caveats](https://github.com/JamesBrill/react-speech-recognition/blob/master/docs/POLYFILLS.md#limitations)). They are looking into adding more languages though. From my experience, they are responsive to feedback - perhaps you can che

[2021-09-24 02:06] rafaelsouzagomes commented on #110
i had this issue in all of the browsers.
app.js:1304 Uncaught ReferenceError: regeneratorRuntime is not defined
    at eval (RecognitionManager.js:219)
    at eval (RecognitionManager.js:290)
    at eval (RecognitionManager.js:385)
    at Object.../node_modules/react-speech-recognition/lib/RecognitionManager.js (app.js:793)
    at __webpack_require__ (app.js:1301)
    at fn (app.js:1512)
    at ev

[2021-10-11 13:22] mariuszbeltowski commented on #110
Same here

[2021-10-14 15:19] yuvalkry opened #119 "Listening timeout"
Hello,

  First, thank you for this very useful package!

  When there is no speech, it appears the 'listening' hook is turned off automatically.
  Is that intentional? I think it is a good idea. Is it possible to configure the time out?

  Thanks,
        Yuval

[2021-10-15 17:31] pfloresl opened #120 "stop is not working using polyfill for azure speech services"
when stop is called, the red icon on chrome tab stays on.
  "microsoft-cognitiveservices-speech-sdk": "^1.17.0",
"web-speech-cognitive-services": "^7.1.1

my sequence to stop

 SpeechRecognition.stopListening();

abortlListening does remove red icon.

thank you

Also confuse on doc mentioning that it is async. await seems not be supported.

[2021-10-15 18:29] yuvalkry opened #121 "Code works on Chrome desktop but not on Edge"
Hello,

 The react app which uses react-speech-recognition works well with Chrome but no transcription when using Edge (v. 94) .
 The flag browserSupportsSpeechRecognition() is true but there is no transcription and the recognizer stops listening quickly.

 This demo, https://codepen.io/Rumyra/pen/bCphe, works well so the browser does support speech recognition, but it doesn't
 work somehow with t

[2021-10-17 14:35] yuvalkry commented on #121
Opened by mistake, sorry.

[2021-10-17 22:08] fsuaterdogan opened #122 "How can I disable autoclose?"
Hi, thanks for the lib. My question is,

Its automaticly closing when I stop talking. How can I disable this? I want to just close on button clicks. Thanks

[2021-10-18 18:34] JamesBrill commented on #119
Hi Yuval! If you are referring to the fact that the microphone will stop listening after you stop speaking, this is the default behaviour and is expected. It is the algorithm in the speech recognition engine that determines when the listening finishes. It will keep listening until it is confident the user has finished speaking - there is no specific timeout.

If you want the microphone to keep lis

[2021-10-20 07:41] yuvalkry commented on #121
James, eventually it worked on Edge just as well.

Before, I tried with Hebrew - which is supported on Chrome but not on Edge (apparently).
With English, it works well on Edge.

 Thanks again and good luck!
        Yuval

[2021-10-20 07:41] #121 closed

[2021-10-20 07:44] #119 closed

[2021-10-22 14:42] yuvalkry opened #123 "Finding out whether a certain language is supported"
Hello James,

  Would it be possible to add a feature for finding whether a certain language is supported?
  (I don't know whether the browsers provide access to this query)

    Thanks,
          Yuval

[2021-10-29 14:12] peterzanetti opened #124 "Echo cancellation?"
When using this in React, the microphone is picking up all sound that comes from computer speakers and interpreting it as input for voice to text. Is there no echo cancellation? Or any way to achieve echo cancellation through polyfills?

[2021-11-01 13:24] peterzanetti commented on #124
Also what about microphone source selection? I don’t see any methods for this?

[2021-11-05 19:39] peterzanetti commented on #124
Hello?

[2021-11-06 11:49] JamesBrill commented on #89
Closed due to inactivity.

[2021-11-06 11:49] #89 closed

[2021-11-06 11:49] JamesBrill commented on #98
Closed due to inactivity.

[2021-11-06 11:49] #98 closed

[2021-11-06 11:50] JamesBrill commented on #101
Closed due to inactivity.

[2021-11-06 11:50] #101 closed

[2021-11-06 11:50] JamesBrill commented on #104
Closed due to inactivity.

[2021-11-06 11:50] #104 closed

[2021-11-06 11:50] JamesBrill commented on #105
Closed due to inactivity.

[2021-11-06 11:50] #105 closed

[2021-11-06 11:51] JamesBrill commented on #108
Closed due to inactivity.

[2021-11-06 11:51] #108 closed

[2021-11-06 11:51] JamesBrill commented on #109
Closed due to inactivity.

[2021-11-06 11:51] #109 closed

[2021-11-06 11:52] JamesBrill commented on #115
Closed due to inactivity.

[2021-11-06 11:52] #115 closed

[2021-11-06 11:59] JamesBrill commented on #120
Hi @pfloresl thanks for raising the issue. `stopListening` only became async in [version 3.3.0](https://github.com/JamesBrill/react-speech-recognition/releases/tag/v3.3.0) - try updating your installed version to get that functionality.

I'll play with the Azure polyfill and see if I also have difficulties stopping the microphone. Which browser are you using?

[2021-11-06 14:41] JamesBrill commented on #120
@pfloresl This appears to be a bug in the Azure polyfill. I have raised an [issue](https://github.com/compulim/web-speech-cognitive-services/issues/166) with the author. In the meantime, `abortListening` should get you the behaviour you desire.

[2021-11-06 15:18] JamesBrill commented on #122
Hi @fsuaterdogan

@lnfernandobr is correct - you just need to pass the `continuous: true` option to `startListening` and the microphone will remain on until you explicitly call `stopListening` or `abortListening`.

[2021-11-06 15:18] #122 closed

[2021-11-06 16:47] JamesBrill commented on #123
Hi Yuval,

I really wish browsers did expose that information! The supported list depends on the cloud API (usually owned by the browser vendor), which is external to the browser. If that information was available, I would create a unified list of languages in `react-speech-recognition` that warned the consumer in some way if a particular browser did not support a particular language.

You can gue

[2021-11-06 17:00] JamesBrill commented on #124
Hi @peterzanetti Echo cancellation and microphone source selection are not features that are available in the Web Speech API, so this library cannot expose them.

However, they _might_ be possible with polyfills, which are built on more powerful browser APIs (e.g. `MediaDevices`) and use cloud-based speech recognition APIs that you have more control over (i.e. you're paying for your own instances

[2021-11-07 07:04] yuvalkry commented on #123
I understand, thanks James.

[2021-11-07 07:04] #123 closed

[2021-11-08 07:50] ashke98 opened #126 "Bug, Language problem"
I tested several supporting languages but non of them seems to work, just default (en-Us) seems to be working, can you check please!

[2021-11-08 09:16] #126 closed

[2021-11-08 09:16] ashke98 commented on #126
Solved

[2021-11-10 18:36] iamtheef opened #127 "`transcript` is always empty"
transcript doesn't seem to update at all

[2021-11-10 18:38] JamesBrill commented on #127
Hi @iamtheef Could you provide more information? Do you have a code snippet you can share? And what browser are you running it on?

[2021-11-10 20:14] iamtheef commented on #127
Sure!
Here's my button ` <button
        className="yn-button listen-button"
        name="submitButton"
        onMouseDown={() =>
          SpeechRecognition.startListening({ continuous: true })
        }
        onMouseUp={SpeechRecognition.stopListening}

And here's
`  useEffect(() => {
    console.log("listening", listening);
    console.log("is mic available", isMicrophoneAvailable);
    con

[2021-11-11 16:41] peterzanetti commented on #124
Thanks for the suggestions. It is a little disturbing that any web API that supports microphone _access_ itself eschews something as rudimentary at microphone device handling.

When looking at Speechly itself (not the polyfill), they seem to have these things worked out. Their demo supports echo cancellation, and there is some reference to a microphone component for React. Seems like a direct inte

[2021-11-17 23:26] MarshallPatryk opened #128 "Show only last transcript"
Hi, how can I show only last recognited word/words, not all?

[2021-11-18 20:37] #128 closed

[2021-11-28 12:02] JamesBrill commented on #127
I suspect this is the problem (your code looks fine). Although Chrome offers speech recognition, it is disabled in browsers like Brave that use Chromium. This is because Google owns the servers that provide that functionality - they can afford to provide it for free in their own browser, but other browser vendors would have to pay them to add that feature themselves. You can see discussions from u

[2021-11-28 12:27] JamesBrill commented on #124
I imagine Google would argue that they're already providing access to their speech recognition servers for free in Chrome (for better or worse - they've given themselves an unfair advantage over browser vendors using Chromium, where they've disabled this functionality...). Indeed, Google had a huge influence on the W3C specification for this API in the first place - probably adding compute-intensi

[2021-11-28 12:27] #124 closed

[2021-11-29 13:25] iamtheef commented on #127
Thanks for the reply. This makes sense actually. So in other words `react-speech-recognition` only would be able to work on Google Chrome?
I suspected that detection doesn't work well too, `browserSupportsSpeechRecognition` is always true as presented in the console in the code above.

What would be another approach for speech recognition in a good amount of browsers?

[2021-11-29 13:47] JamesBrill commented on #127
It is exactly this reason why I encourage users of `react-speech-recognition` to [integrate a polyfill](https://github.com/JamesBrill/react-speech-recognition#why-you-should-use-a-polyfill-with-this-library). The Web Speech API is supported in a handful of other browsers (e.g. recent versions of Safari), but the coverage still isn't great and each browser vendor has their own implementation - the

[2021-11-29 13:50] JamesBrill opened #129 "browserSupportsSpeechRecognition returns true in Chromium browsers (e.g. Brave)"
As per https://github.com/JamesBrill/react-speech-recognition/issues/127, it appears that `browserSupportsSpeechRecognition` incorrectly indicates that speech recognition is supported in Chromium browsers like Brave. Google disables the speech recognition client in Chromium browsers, although it seems the speech recognition object is still present, hence the incorrect detection.

We should find a

[2021-11-29 17:11] vaismav opened #130 "Get transcript on chrome desktop but not on Chrome Android & isMicrophoneAvailable returns undefined"
Hi :) So the code works great on Chrome desktop, but when I use it on a mobile device (with Chrome Android) the transcript stays empty.

while trying to solve this I've noticed isMicrophoneAvailable returns undefined consistently.

I do hear an occasional beeping sound indicating speech recognition is working (as mentioned in the docs) but other than that, nothing else.

I don't know if polyfill w

[2021-11-30 20:24] iamtheef commented on #127
Gonna try implementing it with a polyfill then. Thanks a lot for your time!

[2021-12-04 13:51] JamesBrill commented on #130
Hi @vaismav Thanks for raising this issue! Some comments:
* When running your code on Android Chrome 96, `isMicrophoneAvailable` is `true` and Hebrew translation works for me. Admittedly, this is on Android 9 - perhaps Android 10 handles the microphone differently
* My first thought is that you may be using an older version of `react-speech-recognition`. `isMicrophoneAvailable` was only introduced

[2021-12-05 15:24] iamtheef commented on #127
@JamesBrill I managed to get it working eventually with polyfill. Another problem I noticed is that there are CORS problems when the polyfill gets initialised sometimes. It's really weird cause I noticed the problem when I first deployed the app with the pollyfill, then it went away for a few days and now it stopped working again. This only happens on the desktop app, it works fine on mobile.
Here

[2021-12-05 15:27] iamtheef commented on #127
And just now the error disappeared again after a few refreshes on the page, I think the login fails sometimes hence the error.

[2021-12-06 14:09] mfkrause opened #132 "stopListening() and abortListening() have no effect on continuous mode"
Hey,

thanks for the great module – I'm using Chrome 96 (haven't tested other browsers yet) and having some troubles with the continuous mode. I've previously used v2 of this model which worked great, and have recently upgraded to the latest v3. However, when continuous mode is activated now, both `stopListening()` and `abortListening()` (the latter being the one I actually want) don't seem to hav

[2022-01-21 18:06] MohammedAliBinTaleb opened #133 "It is not working in windows 10 Home version 21H2"
I use this package in my pc as windows pro version 21H1
and it is works fine but
when I format my laptop and update in windows 10  21H2 and  use this library for recording it is not working
When i start recording voice it shut immediately after open recording rather than wait for user to add his voice

I hope @JamesBrill   If you can solve this problem as soon as possible 🙏

Thanks for great packa

[2022-01-26 23:52] peterzanetti commented on #124
FYI after doing more research on this, I found that (for Chrome at least) actual acoustic echo cancellation is only done as part of MediaStreamTrack, or more commonly when used on a webRTC call. Just getUserMedia() itself is not enough to get this into effect, even though getUserMedia supports audio constraints like echoCancellation and noiseSupression. They don't seem to actually do anything unle

[2022-01-26 23:54] peterzanetti opened #134 "Speechly addition languages?"
The README specifies additional language support coming to speechly polyfill. Is there a time frame on this? The apps I create on speechly side don't seem to support anything but English.

[2022-01-27 00:59] prescottbreeden commented on #110
I am getting this error running jest but browser is running fine

[2022-01-30 04:46] daveydee33 commented on #134
Hi @peterzanetti , I was interested in other languages and looking further into this as well.  Speechly currently only supports English and Finnish (the company is from Finland).  They currently have Spanish on their roadmap, but their main focus is on English.  I am interested in other languages as well, in case another polyfill becomes available :)

[2022-01-30 10:28] JamesBrill commented on #134
Hi @peterzanetti @daveydee33 thanks for raising this! I understand your pain and have checked in again with Speechly to get a better idea of which languages they'll be supporting next and roughly when. Until then, we have two options to explore:
1. The [Microsoft Azure polyfill](https://github.com/JamesBrill/react-speech-recognition/blob/master/docs/POLYFILLS.md#microsoft-azure-cognitive-services)

[2022-01-30 11:13] JamesBrill commented on #127
@iamtheef I am surprised to see that error - has it disappeared consistently now? If not, it might be worth testing the [Speechly client](https://github.com/speechly/speechly/tree/main/libraries/browser-client) directly and see if you get the same error. If so, you could try raising an issue [here](https://github.com/speechly/speechly/tree/main/libraries/browser-client) as this is the library that

[2022-01-30 11:52] JamesBrill commented on #132
Hi @mfkrause !

`listening` is state generated from a React Hook, meaning it won't change until the component is re-rendered. So for the lifetime of that function, the value of `listening` will remain whatever it was when the function was called. All React Hook state is immutable during each render - it only changes on a re-render, by which time the component will have references to a different `l

[2022-01-30 12:02] JamesBrill commented on #133
Hi @MohammedAliBinTaleb Which browser are you using?

It would be unusual for the version of the operating system to affect how this library performs. One thing I've seen in the past is Windows "forgetting" microphone devices when being updated, which can prevent browsers from consuming voice data. It might be worth checking that Windows still knows about your microphone devices - you may need to

[2022-01-30 12:09] MohammedAliBinTaleb commented on #133
Hi @JamesBrill
the problem has been solve when i  switch browser from Edge to Chrome
even Firefox give me same error but when i use Chrome It is work fine👍

[2022-01-30 12:12] JamesBrill commented on #133
Ah yes, the Web Speech API is [only supported in a few browsers](https://github.com/JamesBrill/react-speech-recognition#supported-browsers). Surprised it doesn't work in Edge though - it used to a couple of years ago.

If you need voice support to work in all browsers, I recommend looking into a [polyfill](https://github.com/JamesBrill/react-speech-recognition#why-you-should-use-a-polyfill-with-th

[2022-01-30 13:08] MohammedAliBinTaleb commented on #133
yeah microsoft edge work when i use in my pc however
it didn't work when i use my laptop so instead of using edge i use chrome and it works 👌

[2022-01-30 13:26] mfkrause commented on #132
Hey, @JamesBrill — thanks for the reply and the heads-up regarding the `listening` state variable. I've had some wrong thoughts about the state lifecycle there.

I have refactored the whole thing in the meantime and implemented some sort of "hack" to bypass this behavior. I'm now keeping track of whether or not the Web Speech API should be listening on my own in a state variable and am comparing t

[2022-01-31 15:37] peterzanetti commented on #134
Ok. I would be much more inclined to use AWS Transcribe if the polyfill were complete, as I'm already using AWS Translate in this same feature. What sort of bugs still exist?

[2022-02-04 20:24] JamesBrill commented on #134
@peterzanetti [This comment and the overall thread outlines the bugs](https://github.com/JamesBrill/react-speech-recognition/discussions/79#discussioncomment-831176) I found last time I tested the AWS polyfill. ceuk says he's back working on it again, though I'm sure he'd appreciate any contributions/support.

You and @daveydee33 may be interested to know that Speechly are not planning any new lan

[2022-02-04 20:47] peterzanetti commented on #134
Thanks @JamesBrill. I will wait until that polyfill is more mature before going much further. Right now I am looking at possibly using speechly in my app only when english is the set language (which would still be 80-90% of usage), and then the native processor for any other language.

[2022-03-09 01:55] Criztiandev commented on #133
Mine is Error occurred in recognition: network but my internet is fast ? Im using Edge

[2022-03-14 09:13] cigoic opened #135 "Error: Text strings must be rendered within a <Text> component."
Hi, I just tried the sample code on README (copy and paste). But got an error as shown below.
Any idea to solve this?

Thanks.

[code]

[2022-03-16 10:06] cigoic commented on #135
wow...Thanks a lot!
It's a very helpful repository.

[2022-03-24 15:50] #135 closed

[2022-03-25 10:10] Chengwei-Ouyang opened #136 "Question about continuous listening"
I had set continuous property as true, but it doesn't recognize my speech after a few words, maybe two or three sentences. Could you give me some advices if I want to integrate it with a video call module?

[2022-04-17 11:46] JamesBrill commented on #132
In this code, you will never reach the `console.log` when `listening` is `true`:
[code]

To recap, `listening` is state emitted by a React Hook and will be unchanged for the lifetime of your `abortListeningOverride` callback due to the closure around its value. When its value is changed, the component will re-render and a new instance of your callback will be created with a closure around the new

[2022-04-22 08:21] nuri35 commented on #127
I solved this problem by watching this video https://www.youtube.com/watch?v=sLXcuCrBL-M&t=363s

[2022-05-04 13:15] ezzcodeezzlife opened #137 "Types of parameters 'options' and 'event' are incompatible"
When compiling (Build) on Vercel I get the following error:

[code]

How can this be fixed? Works fine with npm run dev

[2022-05-11 19:41] JamesBrill commented on #137
Hi @ezzcodeezzlife looks like a TypeScript error. React expects the click handler to take an event argument, whereas `startListening` has a different function signature. The solution is probably as simple as wrapping the speech recognition function with a valid click handler. Something like:
[code]

You may need to do the same for `stopListening` too.

[2022-05-11 19:43] JamesBrill commented on #136
Hi @Chengwei-Ouyang could you share the code for the component you're using speech recognition in?

[2022-05-12 11:54] #137 closed

[2022-05-13 17:54] LockedAwya opened #138 "Does this library support nested commands?"
Hello, I wondered if this library supports nested commands (like there are commands inside a command, for example a scenario when I want to confirm the previous command). Thanks.

[2022-05-17 08:34] Chengwei-Ouyang commented on #136
Thanks for your replay! I have solved the problem by using the Micorsoft cloud provider.

[2022-05-17 08:34] #136 closed

[2022-05-30 20:44] noinskit opened #140 "Handling multiple matching commands"
Is it possible to handle multiple commands matching a spoken text?
As I understand the API, if multiple commands match (which can happen easily with wildcards etc.), many callbacks will trigger in undefined (?) order and there's no clean way to inspect them together and e.g. prioritize to handle a chosen one.

To give a specific example, if I define two commands:
"What's up" and "What's *"
...then

[2022-08-03 16:54] Brenerss opened #142 "502 - BAD GATEWAY"
I'm using the aws transcription lib and I downloaded 2 packages to use as a polyfill of the `react-speech-recognition` library

The libs are `microsoft-cognitiveservices-speech-sdk` and `web-speech-cognitive-services`

on the local machine it is working without problems, but when we go up to production, it returned 502 (Bad Gatway), is there any configuration that we should do in `azure`?

[2022-08-05 20:30] #142 closed

[2022-08-14 13:29] YoussefZidan opened #143 "Failed to resolve import "web-worker:./worker" from "node_modules\@speechly\browser-client\src\websocket\webWorkerController.ts". Does the file exist?"
I completed the polyfill as instructed in the documentation in an attempt to use the app across browsers, but I still receive the following issue from node modules.

this happens with version `1.2.0`
[code]

[2022-08-14 13:36] YoussefZidan commented on #143
I downgraded the version from `1.2.0` to `1.1.0` and the problem was solved!

[2022-08-30 11:50] YoussefZidan opened #145 "Removing Polyfill if the language is not supported"
To support more than just Chrome, I'm using "@speechly/speech-recognition-polyfill."

nonetheless, the Arabic language is not supported as a result.

So, my goal is to only apply the polyfill if the language is "en," otherwise, I want to delete it.

something like this:

[code]

[2022-10-08 10:32] JamesBrill commented on #143
Hi @YoussefZidan Version `1.2.0` upgraded the Speechly Browser Client to a new major version, one that seems to introduce this TypeScript-based module import (the module is declared in a TypeScript declaration file [here](https://github.com/speechly/speechly/blob/b1cc819/libraries/browser-client/src/declarations.d.ts#L5)). Without the TypeScript compiler, this import wouldn't work. Your IDE might

[2022-10-08 10:32] #110 closed

[2022-10-08 10:33] #120 closed

[2022-10-08 10:33] #127 closed

[2022-10-08 10:34] #130 closed

[2022-10-08 10:34] #132 closed

[2022-10-08 10:34] #133 closed

[2022-10-08 10:36] JamesBrill commented on #134
Keep an eye out for new supported languages in Speechly here https://www.speechly.com/blog

[2022-10-08 10:36] #134 closed

[2022-10-08 11:25] JamesBrill commented on #145
@YoussefZidan Thanks for raising this - this seems like a legitimate use case to me. That feature now exists in `3.10.0` - let me know how it works for you.

[2022-10-08 17:17] alialsawad opened #147 "Matching commands in real time"
Is it possible to match strings using mutable commands without having to wait for SpeechRecognition to stop?

[2022-10-08 17:23] #147 closed

[2022-10-11 10:34] YoussefZidan commented on #145
Gerat!

Thanks alot!

It's working fine ^^

[2022-10-11 10:34] #145 closed

[2022-10-11 10:54] YoussefZidan commented on #143
Hi @JamesBrill

- It happens when serving the app.
- I'm using React with Vite, following this guide: https://vitejs.dev/guide
- Yes, I have the file.

[2022-11-02 20:38] HollowCrusader opened #148 "SpeechRecognition still continue to access the microphone even after stopListening"
[code]

This is the code snippet I used to control the speech recognition and it worked when I start listening and it does stop listening, However, it still show red dot on Chrome browser tab indicating that it is still using microphone.

Is there a way to fix it or is it considered to be a bug?

[2022-11-29 11:08] kla-ko opened #150 "Broken link in Readme"
### Describe the bug
There is a broken link in the top level readme-file (https://docs.speechly.com/quick-start/stt-only/) in Section "Cross -browser example".

### To Reproduce
Steps to reproduce the behavior:
1. Click on this link (https://docs.speechly.com/quick-start/stt-only/)
2. A ``Page not found`` page is shown

### Environment
All browsers